@use "sizes";

:host {
    display: contents;

    .data-cell {
        .data-cell-value-container {
            max-height: sizes.$table-row-height;
        }
    }
}

::ng-deep body .link-overlay {
    // Pull the popover up so it doesn't disappear when locked by moving over the cell below
    margin-top: 0;

    // Prevent prime from freaking out
    max-height: 200px;
    overflow-y: auto;

    // Remove the overlay arrow
    &:before, &:after {
        display: none;
    }

    // Give the container primeNgs wrapper padding
    .overlay-container {
        display: flex;
        flex-direction: column;

        margin: calc(var(--content-padding) * -1);
        padding: var(--content-padding);
    }
}
