<ng-container #groupLink *ngIf="group; else taskLink">
    <p-button
        class="content-link noSelect"
        styleClass="p-button-link"
        [pTooltip]="'GENERAL.GROUP_NAVIGATE' | translate"
        [label]="group | contentLink"
        (onClick)="onClickLink()"
    ></p-button>
</ng-container>

<ng-template #taskLink>
    <p-button
        class="content-link noSelect"
        styleClass="p-button-link"
        [pTooltip]="'GENERAL.TASK_NAVIGATE' | translate"
        [label]="task | contentLink:trimGroup"
        (onClick)="onClickLink()"
    ></p-button>
</ng-template>
