<div
    class="summary-line"
    [ngClass]="{ big: isBig, excluded: percentComplete === 'N/A'}"
    [title]="tooltip"
    (click)="onClick()"
>
    <ng-container *ngIf="isBig; else normalSize">
        <span class="summary-info big">
            {{group.name}}
            <br />
            {{percentComplete}}
        </span>
    </ng-container>
    <ng-template #normalSize>
        <span class="summary-info">
            <span>{{group.name}}</span>
            <span style="float: right;">
                {{percentComplete}}
            </span>
        </span>
    </ng-template>
    <span class="progress-line" [style]="completeBarStyle"></span>
</div>
