
.p-overlaypanel {
    background: var(--surface-f);
    color: rgba(255, 255, 255, 0.87);
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.p-overlaypanel .p-overlaypanel-content {
    padding: var(--content-padding);
}

.p-overlaypanel .p-overlaypanel-close {
    background: #CE93D8;
    color: var(--primary-color-text);
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
}

.p-overlaypanel .p-overlaypanel-close:enabled:hover {
    background: rgba(206, 147, 216, 0.92);
    color: var(--primary-color-text);
}

.p-overlaypanel:after {
    border: solid transparent;
    border-color: rgba(38, 38, 38, 0);
    border-bottom-color: var(--surface-f);
}

.p-overlaypanel:before {
    border: solid transparent;
    border-color: rgba(38, 38, 38, 0);
    border-bottom-color: var(--surface-f);
}

.p-overlaypanel.p-overlaypanel-flipped:after {
    border-top-color: var(--surface-f);
}

.p-overlaypanel.p-overlaypanel-flipped:before {
    border-top-color: var(--surface-f);
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 1.5rem;
}
