<div class="section">
    <div class="header">{{'MAIN.NOTES.COMMON.ADD' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_4.ADD.L1' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.NOTES.COMMON.CHANGE' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_4.CHANGE.L1' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.NOTES.COMMON.FIX' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_4.FIX.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_4.FIX.L2' | translate}}</li>
    </ul>
</div>
