.random {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .group-selector ::ng-deep {
        .p-button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 1px solid var(--surface-500);
            width: 100%;
        }
    }

    .numeric-input ::ng-deep {
        .p-inputtext {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .p-inputnumber {
            flex-grow: 1;
        }

        .p-inputnumber-button-up {
            border-top-right-radius: 0;
        }

        .p-inputnumber-button-down {
            border-bottom-right-radius: 0;
        }
    }

    .random-button ::ng-deep {
        .p-button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 1px solid var(--surface-500);

            min-width: 200px;
            width: 100%;
        }
    }

    .random-result ::ng-deep .p-button {
        width: 100%;
    }
}
