<div class="random">
    <xiv-group-selector
        class="group-selector"
        (onGroupChange)="onGroupChange($event)"
    ></xiv-group-selector>

    <p-inputNumber
        class="numeric-input"
        [(ngModel)]="randomCount"
        [showButtons]="true"
        [min]="1"
        [max]="30"
        (onBlur)="onCountChange()"
    ></p-inputNumber>

    <p-button
        class="random-button"
        icon="mi mi-casino"
        (onClick)="onGenerateRandomClick()"
    ></p-button>

    <ng-container *ngFor="let task of randomTasks">
        <xiv-content-link
            class="random-result"
            [content]="task"
            [nameOnly]="true"
        ></xiv-content-link>
    </ng-container>
</div>
