.icon-container {
    &.complete { color: var(--completed); }
    &.incomplete { color: var(--incomplete); }
    &.exclude { color: var(--excluded); }
    &.selected { color: var(--selected); }
    &.chain { color: #00dddd; }
}
