
p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
    border-color: #f44435;
}

.p-password-panel {
    padding: var(--content-padding);
    background: var(--surface-a);
    color: var(--text-color);
    border: 0 none;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.p-password-panel .p-password-meter {
    margin-bottom: 0.5rem;
    background: rgba(206, 147, 216, 0.32);
}

.p-password-panel .p-password-meter .p-password-strength.weak {
    background: #EF9A9A;
}

.p-password-panel .p-password-meter .p-password-strength.medium {
    background: #FFF59D;
}

.p-password-panel .p-password-meter .p-password-strength.strong {
    background: #C5E1A5;
}
