
.p-radiobutton {
    width: 20px;
    height: 20px;
}

.p-radiobutton .p-radiobutton-box {
    border: 2px solid rgba(var(--text-color-rgb), 0.7);
    background: var(--surface-a);
    width: 20px;
    height: 20px;
    color: var(--text-color);
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--text-color-secondary);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 10px;
    height: 10px;
    transition-duration: 0.2s;
    background-color: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: var(--primary-color);
    background: var(--surface-b);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--primary-color);
    background: var(--surface-b);
    color: var(--primary-color);
}

p-radiobutton.ng-dirty.ng-invalid > .p-radiobutton > .p-radiobutton-box {
    border-color: #f44435;
}

.p-input-filled .p-radiobutton .p-radiobutton-box {
    background-color: rgba(var(--text-color-rgb), 0.06);
}

.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
    background-color: rgba(var(--text-color-rgb), 0.08);
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
    background: var(--surface-b);
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: var(--surface-b);
}

.p-radiobutton-label {
    margin-left: 0.5rem;
}

.p-radiobutton {
    border-radius: 50%;
    transition: box-shadow 0.2s;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border: 2px solid rgba(var(--text-color-rgb), 0.7);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border: 2px solid rgba(var(--text-color-rgb), 0.7);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled).p-focus {
    border-color: var(--primary-color);
}

.p-radiobutton:not(.p-radiobutton-disabled):hover {
    box-shadow: 0 0 1px 10px rgba(var(--text-color-rgb), 0.04);
}

.p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-focused {
    box-shadow: 0 0 1px 10px rgba(var(--text-color-rgb), 0.12);
}

.p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled):hover {
    box-shadow: 0 0 1px 10px rgba(var(--primary-color-rgb), 0.04);
}

.p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled).p-radiobutton-focused {
    box-shadow: 0 0 1px 10px rgba(var(--primary-color-rgb), 0.12);
}

.p-input-filled .p-radiobutton .p-radiobutton-box {
    background-color: var(--surface-a);
}

.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
    background-color: var(--surface-a);
}
