@import 'src/styles/colors';

.nav-group {
    transition: height 0.5s ease;

    &.collapsed {
        height: 0;
        overflow: hidden;
    }

    .nav-bar-button {
        background-color: $blue-3;
        border-top: 2px solid black;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        user-select: none;

        &:hover {
            filter: brightness(150%);
            cursor: pointer;
        }

        &:active {
            filter: brightness(50%);
        }
    }
}
