<div
    #container
    class="nav-group"
    [style.height]="height"
    [ngClass]="{ collapsed: !show }"
>
    <div
        class="nav-bar-button"
        (click)="selectGroup(degree)"
        [title]="group.name"
        [style]="buttonStyle"
    >
        {{group.name}}
    </div>

    <ng-container *ngIf="group.subGroups">
        <xiv-nav-group
            *ngFor="let subGroup of group.subGroups"
            [show]="showChildren"
            [degree]="degree + 1"
            [group]="subGroup"
        ></xiv-nav-group>
    </ng-container>
</div>
