<div *ngIf="isModalVisible" class="xiv-modal"></div>

<div class="setting" *ngIf="languages">
    <label>{{'MAIN.SETTING.LANGUAGE.LABEL' | translate}}</label>
    <p-dropdown
        optionValue="short"
        optionLabel="long"
        [options]="languages"
        [(ngModel)]="svcSettings.settings.lang.value"
        (onChange)="onChangeLanguage()"
    ></p-dropdown>
</div>

<div class="setting starting-class" *ngIf="startingClasses">
    <span
        class="tooltip-container"
        [pTooltip]="'MAIN.SETTING.CLASSES.TOOLTIP' | translate"
        tooltipPosition="right"
    >
        <label>{{'MAIN.SETTING.CLASSES.LABEL' | translate}}</label>
        <p-dropdown
            optionValue="short"
            optionLabel="long"
            [placeholder]="'MAIN.SETTING.CLASSES.PLACEHOLDER' | translate"
            [options]="startingClasses"
            [showClear]="true"
            [(ngModel)]="svcSettings.settings.startingClass.value"
            (onChange)="onChangeStartingClass()"
        ></p-dropdown>
    </span>

    <xiv-chain-overlay [disableUndo]="true"></xiv-chain-overlay>
</div>

<div class="setting bool">
    <label>{{'MAIN.SETTING.GROUP_NAME.LABEL' | translate}}</label>
    <p-checkbox
        [binary]="true"
        [(ngModel)]="svcSettings.settings.useShortNames.value"
        (onChange)="onUseShortNamesChange()"
    ></p-checkbox>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.LOCATION' | translate}}</label>
    <label>{{svcSettings.settings.storeLocation.value}}</label>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.NAME' | translate}}</label>
    <label>{{svcSettings.settings.storeName.value}}.json</label>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.CHANGE' | translate}}</label>
    <p-buttonGroup>
        <p-button
            [label]="'MAIN.SETTING.SAVE.NEW' | translate"
            (onClick)="onNewSaveClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.LOAD' | translate"
            (onClick)="onLoadSaveClick()"
        ></p-button>
    </p-buttonGroup>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.OPEN' | translate}}</label>
    <p-buttonGroup>
        <p-button
            [label]="'MAIN.SETTING.SAVE.CONFIG' | translate"
            (onClick)="onOpenConfigClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.SAVE' | translate"
            (onClick)="onOpenSaveClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.BOTH' | translate"
            (onClick)="onOpenBothClick()"
        ></p-button>
    </p-buttonGroup>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.BACKUP' | translate}}</label>
    <p-buttonGroup>
        <p-button
            [label]="'MAIN.SETTING.SAVE.CONFIG' | translate"
            (onClick)="onBackupConfigClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.SAVE' | translate"
            (onClick)="onBackupSaveClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.BOTH' | translate"
            (onClick)="onBackupBothClick()"
        ></p-button>
    </p-buttonGroup>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.LOAD_BACKUP' | translate}}</label>
    <p-buttonGroup>
        <p-button
            [label]="'MAIN.SETTING.SAVE.CONFIG' | translate"
            (onClick)="onLoadBackupConfigClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.SAVE' | translate"
            (onClick)="onLoadBackupSaveClick()"
        ></p-button>
    </p-buttonGroup>
</div>
