@use "../../_variables";

@layer primeng {
    .p-splitbutton {
        border-radius: var(--border-radius);

        &.p-button-rounded {
            border-radius: variables.$roundedButtonBorderRadius;

            > .p-button {
                border-radius: variables.$roundedButtonBorderRadius;
            }
        }

        &.p-button-raised {
            box-shadow: variables.$raisedButtonShadow;
        }
    }
}
