<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.NAV_DRAWER.TITLE' | translate}}</div>

    <div>{{'MAIN.GUIDE.NAVIGATION.NAV_DRAWER.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.NAV_DRAWER.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.CRUMBS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.CRUMBS.L1' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.NAV_HISTORY.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.NAV_HISTORY.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.NAV_HISTORY.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.COMPLETION.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.COMPLETION.L1' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.SEARCH.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SEARCH.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SEARCH.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SEARCH.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SEARCH.L4' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.SHOW_ALL.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SHOW_ALL.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SHOW_ALL.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SHOW_ALL.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SHOW_ALL.L4' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.SHOW_ALL.L5' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.CELL_LINK.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.CELL_LINK.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.CELL_LINK.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.CELL_LINK.L3' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.NAVIGATION.PERSIST.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.NAVIGATION.PERSIST.L1' | translate}}</div>
</div>
