@use "../../_variables";

@layer primeng {
    .p-card {
        background: variables.$panelContentBg;
        color: variables.$panelContentTextColor;
        box-shadow: variables.$cardShadow;
        border-radius: var(--border-radius);

        .p-card-body {
            padding: variables.$cardBodyPadding;
        }

        .p-card-title {
            font-size: variables.$cardTitleFontSize;
            font-weight: variables.$cardTitleFontWeight;
            margin-bottom: var(--inline-spacing);
        }

        .p-card-subtitle {
            font-weight: variables.$cardSubTitleFontWeight;
            margin-bottom: var(--inline-spacing);
            color: variables.$cardSubTitleColor;
        }

        .p-card-content {
            padding: variables.$cardContentPadding;
        }

        .p-card-footer {
            padding: variables.$cardFooterPadding;
        }
    }
}
