@use "../_mixins";
@use "../../_variables";

@layer primeng {
    .p-fieldset {
        border: variables.$panelContentBorder;
        background: variables.$panelContentBg;
        color: variables.$panelContentTextColor;
        border-radius: var(--border-radius);

        .p-fieldset-legend {
            padding: variables.$panelHeaderPadding;
            border: variables.$panelHeaderBorder;
            color: variables.$panelHeaderTextColor;
            background: variables.$panelHeaderBg;
            font-weight: variables.$panelHeaderFontWeight;
            border-radius: var(--border-radius);
        }

        &.p-fieldset-toggleable {
            .p-fieldset-legend {
                padding: 0;
                transition: variables.$actionIconTransition;

                a {
                    padding: variables.$panelHeaderPadding;
                    color: variables.$panelHeaderTextColor;
                    border-radius: var(--border-radius);
                    transition: variables.$listItemTransition;

                    .p-fieldset-toggler {
                        margin-right: var(--inline-spacing);
                    }

                    &:focus-visible {
                        @include mixins.focused();
                    }
                }

                &:hover {
                    background: variables.$panelHeaderHoverBg;
                    border-color: variables.$panelHeaderHoverBorderColor;
                    color: variables.$panelHeaderTextHoverColor;
                }
            }
        }

        .p-fieldset-content {
            padding: variables.$panelContentPadding;
        }
    }
}
