@use "../_mixins";
@use "../../_variables";

@layer primeng {
    .p-tabview {
        .p-tabview-nav-content {
            scroll-padding-inline: variables.$buttonIconOnlyWidth;
        }

        .p-tabview-nav {
            background: variables.$tabviewNavBg;
            border: variables.$tabviewNavBorder;
            border-width: variables.$tabviewNavBorderWidth;

            li {
                margin-right: variables.$tabviewHeaderSpacing;

                .p-tabview-nav-link {
                    border: variables.$tabviewHeaderBorder;
                    border-width: variables.$tabviewHeaderBorderWidth;
                    border-color: variables.$tabviewHeaderBorderColor;
                    background: variables.$tabviewHeaderBg;
                    color: variables.$tabviewHeaderTextColor;
                    padding: variables.$tabviewHeaderPadding;
                    font-weight: variables.$tabviewHeaderFontWeight;
                    border-top-right-radius: var(--border-radius);
                    border-top-left-radius: var(--border-radius);
                    transition: variables.$listItemTransition;
                    margin: variables.$tabviewHeaderMargin;

                    &:not(.p-disabled):focus-visible {
                        @include mixins.focused-inset();
                    }
                }

                &:not(.p-highlight):not(.p-disabled):hover {
                    .p-tabview-nav-link {
                        background: variables.$tabviewHeaderHoverBg;
                        border-color: variables.$tabviewHeaderHoverBorderColor;
                        color: variables.$tabviewHeaderTextHoverColor;
                    }
                }

                &.p-highlight {
                    .p-tabview-nav-link {
                        background: variables.$tabviewHeaderActiveBg;
                        border-color: variables.$tabviewHeaderActiveBorderColor;
                        color: variables.$tabviewHeaderTextActiveColor;
                    }
                }
            }
        }

        .p-tabview-left-icon {
            margin-right: var(--inline-spacing);
        }

        .p-tabview-right-icon {
            margin-left: var(--inline-spacing);
        }

        .p-tabview-close {
            margin-left: var(--inline-spacing);
        }

        .p-tabview-nav-btn.p-link {
            background: variables.$tabviewHeaderActiveBg;
            color: variables.$tabviewHeaderTextActiveColor;
            width: variables.$buttonIconOnlyWidth;
            box-shadow: variables.$raisedButtonShadow;
            border-radius: 0;

            &:focus-visible {
                @include mixins.focused-inset();
            }
        }

        .p-tabview-panels {
            background: variables.$tabviewContentBg;
            padding: variables.$tabviewContentPadding;
            border: variables.$tabviewContentBorder;
            color: variables.$tabviewContentTextColor;
            border-bottom-right-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }
    }
}
