@use "../../_variables";

@layer primeng {
    .p-toolbar {
        background: variables.$panelHeaderBg;
        border: variables.$panelHeaderBorder;
        padding: variables.$panelHeaderPadding;
        border-radius: var(--border-radius);
        gap: var(--inline-spacing);

        .p-toolbar-separator {
            margin: 0 var(--inline-spacing);
        }
    }
}
