
.p-splitter {
    border: 1px solid rgba(var(--text-color-rgb), 0.12);
    background: var(--surface-a);
    border-radius: 4px;
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-splitter .p-splitter-gutter {
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    background: rgba(var(--text-color-rgb), 0.04);
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
    background: rgba(var(--text-color-rgb), 0.12);
}

.p-splitter .p-splitter-gutter-resizing {
    background: rgba(var(--text-color-rgb), 0.12);
}
