<div class="section">
    <div class="header">{{'MAIN.GUIDE.TASK_TABLE.SORTING.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.SORTING.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.SORTING.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.TASK_TABLE.FILTER_COMPLETION.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COMPLETION.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COMPLETION.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COMPLETION.L3' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.TASK_TABLE.FILTER_COLUMN.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COLUMN.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COLUMN.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COLUMN.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.FILTER_COLUMN.L4' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.TASK_TABLE.SELECT.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.SELECT.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.SELECT.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.SELECT.L3' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.TASK_TABLE.ROW_ACTION.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.ROW_ACTION.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.ROW_ACTION.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.ROW_ACTION.L3' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.TASK_TABLE.VIRTUAL.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.VIRTUAL.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.TASK_TABLE.VIRTUAL.L2' | translate}}</div>
</div>
