<div #summaryHeaderContainer>
    @if(!hideOverall() && allData) {
        <com-summary-line
            data-active-help="APP.ACTIVE_HELP.STATISTICS.SUMMARY_ALL"
            [group]="allData"
            [isBig]="true"
        ></com-summary-line>
    }

    @let group = svcNavigation.selectedGroup();

    @if(group && group.dataType === 'Group' && group._parent) {
        @if(!hideGroup() && !group.isUiGroup && !group.disableCompletion) {
            <com-summary-line
                data-active-help="APP.ACTIVE_HELP.STATISTICS.SUMMARY_CURRENT"
                [group]="group"
                [isBig]="true"
            ></com-summary-line>
        }

        <p-context-menu
            [target]="summaryHeaderContainer"
            [model]="contextMenuItems"
        ></p-context-menu>
    }
</div>
