<tr class="task-table-header">
    <!-- Flag Header -->
    <th
        data-active-help="APP.ACTIVE_HELP.TABLE.COMPLETION_FILTER"
        class="completion-column"
        [style.width.px]="svcTable.hasNumericColumns ? 100 : 60"
    >
        <i
            class="i-complete"
            [ngClass]="{ enabled: svcTable.filter.completion.completed }"
            (click)="svcTable.filter.onFilterCompletion(Completion.Y)"
        ></i>

        <i
            class="i-incomplete"
            [ngClass]="{ enabled: svcTable.filter.completion.incomplete }"
            (click)="svcTable.filter.onFilterCompletion(Completion.N)"
        ></i>

        <br/>

        <i
            class="i-exclude"
            [ngClass]="{ enabled: svcTable.filter.completion.excluded }"
            (click)="svcTable.filter.onFilterCompletion(Completion.X)"
        ></i>
    </th>

    <!-- Data Headers -->
    @for(column of svcTable.group().columns; track column.key) {
        <th [style.width.px]="column.width">
            @let helpKey = svcTable.group().isCustomGroup ? 'CUSTOM_VIEW.CUSTOM_COLUMN_NAME' : 'TABLE.COLUMN_NAME';
            <div
                [attr.data-active-help]="'APP.ACTIVE_HELP.' + helpKey"
                class="column-name"
                [pSortableColumn]="column.key"
                [pSortableColumnDisabled]="svcTable.group().isCustomGroup"
            >
                {{column.header}}
                @if(!svcTable.group().isCustomGroup) {
                    <p-sort-icon [field]="column.key"></p-sort-icon>
                }
            </div>

            @if(column.header) {
                <div class="column-filter">
                    @if(column.filterable) {
                        <p-select
                            data-active-help="APP.ACTIVE_HELP.TABLE.FILTER_DROPDOWN"
                            class="dropdown-filter"
                            [editable]="true"
                            [options]="svcTable.uniqueValues[column.key]"
                            [showClear]="true"
                            appendTo="body"
                            (keyup)="onFilterKeyup($event, column)"
                            (onChange)="onFilterDropdownChange($event, column)"
                        >
                            <ng-template #item let-item>
                                {{displayedFilterValue(item)}}
                            </ng-template>
                        </p-select>
                    } @else {
                        <input
                            data-active-help="APP.ACTIVE_HELP.TABLE.FILTER_INPUT"
                            class="text-filter"
                            pInputText
                            [value]="svcTable.filter.filters[column.key]?.value ?? ''"
                            (keyup)="onFilterKeyup($event, column)"
                        />

                        @if(svcTable.filter.filters[column.key]?.value) {
                            <i
                                class="pi pi-times"
                                (click)="svcTable.filter.modifyFilter('', column)"
                            ></i>
                        }
                    }
                </div>
            }
        </th>
    }

    <!-- Row Action Header -->
    <!-- TODO: Move Table Actions Here -->
    <th class="row-action"></th>
</tr>
