:host {
    display: contents;

    .task-table-header {
        .completion-column {
            padding: calc(var(--content-padding) / 2);
            vertical-align: middle;
            text-align: center;

            &.numeric {
                width: 100px;
            }

            .i-complete, .i-incomplete, .i-exclude {
                cursor: pointer;

                &.enabled {
                    filter: drop-shadow(2px 2px 0px var(--primary-color));
                }
            }
        }

        .column-name {
            text-align: center;

            ::ng-deep {
                .p-sortable-column-icon {
                    margin-left: unset;
                }
            }
        }

        .column-filter {
            ::ng-deep {
                .dropdown-filter, .text-filter {
                    margin-top: 3px;
                    height: 27px;
                    width: 100%;
                }

                .p-inputtext {
                    padding-right: unset;
                }

                .p-dropdown-clear-icon {
                    right: 24px;
                }

                .p-dropdown-trigger {
                    width: 24px;
                }
            }
        }

        th {
            // Scrolls row-action-icon behind th
            z-index: 2;
        }
    }
}
