:host {
    display: contents;

    .task-table-header {
        .completion-column {
            padding: calc(var(--content-padding) / 2);
            vertical-align: middle;
            text-align: center;

            .i-complete, .i-incomplete, .i-exclude {
                cursor: pointer;

                &.enabled {
                    filter: drop-shadow(2px 2px 0px var(--primary-color));
                }
            }
        }

        .column-name {
            text-align: center;
        }

        .column-filter {
            ::ng-deep {
                .p-inputtext {
                    height: 25px;
                    width: 100%;
                }
            }
        }

        th {
            // Scrolls row-action-icon behind th
            z-index: 2;
        }
    }
}
