<div class="section">
    <div class="header">Tech Stuff</div>
    <ul>
        <li>Built using Electron</li>
        <li>Powered by Angular</li>
        <li>UI by PrimeNG</li>
    </ul>
</div>

<div class="section">
    <div class="header">Features being considered, planned, or worked on</div>
    <ul>
        <li>Mac Support</li>
        <li>Further translation support</li>
        <li>Armoire section</li>
        <li>Legacy Quests section</li>
        <li>Patch information for every task</li>
        <li>App and/or resource auto-updating</li>
    </ul>
</div>

<div class="section">
    <div class="header">Known Issues</div>
    <ul>
        <li>Tasks that should have been default excluded will not be excluded when app data is corrected</li>
        <li>Scholar & Summoner levels don't chain eachother</li>
        <li>Leve Issue/Start zones are incorrect</li>
        <li>application is not code signed</li>
    </ul>
</div>
