<div class="section">
    <div class="header">Tech Stuff</div>
    <ul>
        <li>Built using Electron</li>
        <li>Powered by Angular</li>
        <li>UI by PrimeNG</li>
    </ul>
</div>

<div class="section">
    <div class="header">Near Future Features</div>
    <ul>
        <li>Linux/Mac Support</li>
        <li>Further translation support</li>
    </ul>
</div>

<div class="section">
    <div class="header">Far Future Features</div>
    <ul>
        <li>Armoire section</li>
        <li>Legacy Quests section</li>
        <li>Patch information for every task</li>
        <li>App and/or resource auto-updating</li>
    </ul>
</div>

<div class="section">
    <div class="header">Known Issues</div>
    <ul>
        <li>Scholar & Summoner levels don't chain eachother</li>
        <li>App not being code signed may cause installer warnings</li>
    </ul>
</div>
