# Project.
_documentation/saves/completion.json

# Dependencies.
node_modules

# Compiled output.
/app-builds
/build
main.js
src/**/*.js
/tmp
*.js.map

# Electron app build outputs
/dist
*/dist
/release
*/release
/out-tsc
*/out-tsc

# Miscellaneous.
/.angular/cache
/.nx
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# Operating system files.
.DS_Store
Thumbs.db

# IDE - General.
.c9/
.classpath
.project
.settings/
*.launch
*.sublime-workspace

# IDE - JetBrains.
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.name
.idea/httpRequests
.idea/replstate.xml
.idea/watcherTasks.xml
*.iws

# IDE - VSCode.
.vscode/*
.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
