node_modules/
.idea/

.DS_Store
dist/electron/*
dist/web/*
build/*
!assets/icons
coverage
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep

scripts/xivapi/cache/*
scripts/resourceManager/convertSheetToJSON/output.json
