
# Dependencies.
node_modules

# Compiled output.
/app-builds
/build
/dist
main.js
/out-tsc
/release
src/**/*.js
!src/karma.conf.js
/tmp
*.js.map

# Miscellaneous.
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# End-to-end testing.
/e2e/*.js
!/e2e/protractor.conf.js
/e2e/*.map

# Operating system files.
.DS_Store
Thumbs.db

# Scripts.
xivapi/cache/*

# IDE - General.
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - JetBrains.
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea/replstate.xml
*.iws

# IDE - VSCode.
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
