<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <div
        *ngIf="isModalVisible"
        class="xiv-modal"
    >
        {{'OVERLAY.QUICK_MARK.PROCESSING' | translate}}...
    </div>

    <p-button
        styleClass="p-button-outlined"
        icon="mi mi-rule"
    ></p-button>

    <div *ngIf="isVisible || isModalVisible" class="overlay-panel">
        <span class="content">
            <p-button
                [label]="'OVERLAY.QUICK_MARK.TITLE' | translate"
                [disabled]="true"
            ></p-button>

            <p-button (click)="onChangeTaskCompletion(N, Y)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-incomplete',
                        to: 'i-complete',
                        text: 'N-Y'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(N, X)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-incomplete',
                        to: 'i-exclude',
                        text: 'N-X'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(Y, N)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-complete',
                        to: 'i-incomplete',
                        text: 'Y-N'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(Y, X)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-complete',
                        to: 'i-exclude',
                        text: 'Y-X'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(X, N)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-exclude',
                        to: 'i-incomplete',
                        text: 'X-N'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(X, Y)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-exclude',
                        to: 'i-complete',
                        text: 'X-Y'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(null, Y)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-selected',
                        to: 'i-complete',
                        text: 'S-Y'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(null, N)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-selected',
                        to: 'i-incomplete',
                        text: 'S-N'
                    }"
                ></ng-container>
            </p-button>

            <p-button (click)="onChangeTaskCompletion(null, X)">
                <ng-container
                    *ngTemplateOutlet="fromToIcons; context: {
                        from: 'i-selected',
                        to: 'i-exclude',
                        text: 'S-X'
                    }"
                ></ng-container>
            </p-button>

            <p-button
                *ngIf="history.length"
                [label]="'OVERLAY.QUICK_MARK.UNDO' | translate"
                (onClick)="onUndoLastChange()"
            ></p-button>
        </span>
    </div>
</span>

<ng-template
    #fromToIcons
    let-from="from"
    let-to="to"
    let-text="text"
>
    (<i class="{{from}}"></i> <i class="i-arrow"></i> <i class="{{to}}"></i>)
    {{'OVERLAY.QUICK_MARK.' + text | translate}}
</ng-template>
