<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-rule"
    ></p-button>

    <div *ngIf="isVisible" class="overlay-panel">
        <span class="content">
            <p-button
                [label]="'OVERLAY.QUICK_MARK.TITLE' | translate"
                [disabled]="true"
            ></p-button>

            <p-button (click)="onChangeTaskCompletion(N, Y)">
                (<i class="i-incomplete"></i> <i class="i-arrow"></i> <i class="i-complete"></i>)
                {{'OVERLAY.QUICK_MARK.N-Y' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(N, X)">
                (<i class="i-incomplete"></i> <i class="i-arrow"></i> <i class="i-exclude"></i>)
                {{'OVERLAY.QUICK_MARK.N-X' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(Y, N)">
                (<i class="i-complete"></i> <i class="i-arrow"></i> <i class="i-incomplete"></i>)
                {{'OVERLAY.QUICK_MARK.Y-N' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(Y, X)">
                (<i class="i-complete"></i> <i class="i-arrow"></i> <i class="i-exclude"></i>)
                {{'OVERLAY.QUICK_MARK.Y-X' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(X, N)">
                (<i class="i-exclude"></i> <i class="i-arrow"></i> <i class="i-incomplete"></i>)
                {{'OVERLAY.QUICK_MARK.X-N' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(X, Y)">
                (<i class="i-exclude"></i> <i class="i-arrow"></i> <i class="i-complete"></i>)
                {{'OVERLAY.QUICK_MARK.X-Y' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(null, Y)">
                (<i class="i-selected"></i> <i class="i-arrow"></i> <i class="i-complete"></i>)
                {{'OVERLAY.QUICK_MARK.S-Y' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(null, N)">
                (<i class="i-selected"></i> <i class="i-arrow"></i> <i class="i-incomplete"></i>)
                {{'OVERLAY.QUICK_MARK.S-N' | translate}}
            </p-button>

            <p-button (click)="onChangeTaskCompletion(null, X)">
                (<i class="i-selected"></i> <i class="i-arrow"></i> <i class="i-exclude"></i>)
                {{'OVERLAY.QUICK_MARK.S-X' | translate}}
            </p-button>

            <p-button
                *ngIf="history.length"
                [label]="'OVERLAY.QUICK_MARK.UNDO' | translate"
                (onClick)="onUndoLastChange()"
            ></p-button>
        </span>
    </div>
</span>
