<p-tabView class="instructions">
    <p-tabPanel header="Navigation">
        <xiv-navigation-instructions></xiv-navigation-instructions>
    </p-tabPanel>
    <p-tabPanel header="Task Table">
        <xiv-task-table-instructions></xiv-task-table-instructions>
    </p-tabPanel>
    <p-tabPanel header="Special Groups">
        <xiv-special-groups-instructions></xiv-special-groups-instructions>
    </p-tabPanel>
    <p-tabPanel header="Completion">
        <xiv-completion-instructions></xiv-completion-instructions>
    </p-tabPanel>
    <p-tabPanel header="Chaining">
        <xiv-chaining-instructions></xiv-chaining-instructions>
    </p-tabPanel>
    <p-tabPanel header="Saving">
        <xiv-saving-instructions></xiv-saving-instructions>
    </p-tabPanel>
    <p-tabPanel header="Other">
        <xiv-other-instructions></xiv-other-instructions>
    </p-tabPanel>
</p-tabView>
