<div class="section">
    <div class="header">{{'MAIN.GUIDE.PERSONAL_GROUPS.BOOKMARKS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.BOOKMARKS.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.BOOKMARKS.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.BOOKMARKS.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.BOOKMARKS.L4' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.BOOKMARKS.L5' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.L4' | translate}}</div>
    <div>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.MERGING.TITLE' | translate}}</div>
    <ul>
        <li>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.MERGING.L1' | translate}}</li>
        <li>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.MERGING.L2' | translate}}</li>
        <li>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.MERGING.L3' | translate}}</li>
        <li>{{'MAIN.GUIDE.PERSONAL_GROUPS.CUSTOM_TASKS.MERGING.L4' | translate}}</li>
    </ul>
</div>
