<div class="setting">
    <label></label>
    <p-button
        [label]="'MAIN.SETTING.THEME.RESET' | translate"
        (onClick)="resetTheme()"
    ></p-button>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.PRIMARY_COLOR' | translate}}:</label>
    <p-colorPicker
        [(ngModel)]="primaryColor"
        (onChange)="setPrimaryColor()"
    ></p-colorPicker>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.PRIMARY_TEXT' | translate}}:</label>
    <p-colorPicker
        [(ngModel)]="primaryText"
        (onChange)="setPrimaryText()"
    ></p-colorPicker>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.FONT' | translate}}:</label>
    <input
        pInputText
        [(ngModel)]="fontFamily"
        (change)="setFontFamily()"
    />
</div>
