<div class="setting">
    <label>{{'MAIN.SETTING.THEME.PRIMARY_COLOR' | translate}}:</label>
    <p-button
        [label]="'MAIN.SETTING.THEME.RESET' | translate"
        (onClick)="resetPrimaryColor()"
    ></p-button>
    <p-colorPicker
        [(ngModel)]="primaryColor"
        (onChange)="setPrimaryColor()"
    ></p-colorPicker>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.PRIMARY_TEXT' | translate}}:</label>
    <p-button
        [label]="'MAIN.SETTING.THEME.RESET' | translate"
        (onClick)="resetPrimaryTextColor()"
    ></p-button>
    <p-colorPicker
        [(ngModel)]="primaryTextColor"
        (onChange)="setPrimaryTextColor()"
    ></p-colorPicker>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.BACKGROUND' | translate}}:</label>
    <p-button
        [label]="'MAIN.SETTING.THEME.RESET' | translate"
        (onClick)="resetBackgroundColor()"
    ></p-button>
    <p-colorPicker
        format="hsb"
        [(ngModel)]="backgroundColor"
        (onChange)="setBackgroundColor()"
    ></p-colorPicker>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.TEXT_COLOR' | translate}}:</label>
    <p-button
        [label]="'MAIN.SETTING.THEME.RESET' | translate"
        (onClick)="resetTextColor()"
    ></p-button>
    <p-colorPicker
        format="rgb"
        [(ngModel)]="textColor"
        (onChange)="setTextColor()"
    ></p-colorPicker>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.THEME.FONT' | translate}}:</label>
    <p-button
        [label]="'MAIN.SETTING.THEME.RESET' | translate"
        (onClick)="resetFontFamily()"
    ></p-button>
    <input
        pInputText
        [(ngModel)]="fontFamily"
        (change)="setFontFamily()"
    />
</div>
