<div class="section">
    <div class="header">{{'MAIN.NOTES.COMMON.ADD' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_2.ADD.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_2.ADD.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_2.ADD.L3' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.NOTES.COMMON.FIX' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_2.FIX.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_2.FIX.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_2.FIX.L3' | translate}}</li>
    </ul>
</div>
