.edit-cell {
    .xiv-input {
        box-sizing: border-box;
        overflow: hidden;
        font-family: unset;
        font-size: 16px;
        resize: none;
        width: 90%;

        margin: 0 0 -4px -2px;
    }
}
