<div class="section">
    <div class="header">Marking Completion</div>
    <div>When you navigate down to a group that has tasks that can be marked for completion there will be a table</div>
    <div>On the left of that table is the completion column</div>
    <ul>
        <li>Left Click: Toggle the task from "not done" to "done" or vise versa, also removes the "excluded" marking</li>
        <li>Right Click: Mark the task as "excluded"</li>
    </ul>
</div>

<div class="section">
    <div class="header">Number Based Completion</div>
    <div>Some groups may have completion based on a range of numbers</div>
    <div>In these tables the completion column will instead contain an input field to manually enter the value</div>
    <div>These fields validate data entered into them, so data entered may be changed to fit within a range</div>
    <div>These fields only commit the data entered after clicking away from them</div>
</div>

<div class="section">
    <div class="header">Quick-Mark Completion</div>
    <div>Above the table is an overlay menu that has several options for altering completion state of many tasks at once</div>
</div>

<div class="section">
    <div class="header">Custom Tasks</div>
    <div>An area where tasks can be entered that the app does not have in it along with notes on each one</div>
    <div>Custom tasks can be edited by selecting them</div>
    <div>Custom tasks can be reordered through the action menu</div>
    <div>Custom tasks also have the ability to merge into the app, allowing for easier updates after patches</div>
    <div>Notes about merging:</div>
    <ul>
        <li>Merge searches are case-insensitive and ignores anything that isn't a letter or number</li>
        <li>Merge searches look for the whole name of the task, partials will not be displayed</li>
        <li>Upon clicking one of the matches for merge, that Custom Task will be removed along with its notes</li>
        <li>All tasks with a single match can be auto-merged without needing to confirm each one</li>
    </ul>
</div>

<div class="section">
    <div class="header">Calculations</div>
    <div>Completion for any group is calculated as the percentage of total items completed of all child items of that group, excluding any items marked as "excluded"</div>
    <div>Items are not weighted so completing an ultimate nets the same progress as crafting an Oak Lumber</div>
</div>

<div class="section">
    <div class="header">Final Notes</div>
    <div>Hovering over the progress bar for any group gives you a tooltip detailing that group's completion numbers</div>
</div>
