<div class="section">
    <div class="header">Sorting</div>
    <div>Columns can be sorted by clicking the column title</div>
    <div>The icons in the column headers indicate the currently active sort</div>
</div>

<div class="section">
    <div class="header">All Task View</div>
    <div>When "All Task View" is enabled, all tasks within that view are grouped into a collapsed header</div>
    <div>All actions work as expected despite the tasks not being visible</div>
</div>

<div class="section">
    <div class="header">Filter Columns</div>
    <div>At the top of each column is a text input to filter tasks in that table</div>
    <div>This input may have a dropdown if the column has few unique values</div>
    <div>This filter is case-insensitive and matches anywhere within the text for that column</div>
</div>

<div class="section">
    <div class="header">Filtering Completion</div>
    <div>At the top of non-numeric completion columns are 3 icons that indicate "completed", "not completed", and "excluded"</div>
    <div>These can be enabled/disabled separately and their state is saved between tables and reloads</div>
    <div>Items in the table that match any enabled icon will be displayed</div>
</div>

<div class="section">
    <div class="header">Select Items</div>
    <div>Clicking on any row will "select" it and turn it a different color</div>
    <div>An overlay menu above the table contains actions regarding selection</div>
    <div>In Crafting Log groups this menu contains an option to export all selected recipes to external sites</div>
</div>

<div class="section">
    <div class="header">Row Actions</div>
    <div>The last column in every row has a "Row Action" menu</div>
    <div>Two of these actions attempt to export the task to external sites</div>
    <div>NOTE: Not all tasks can export properly, please report those that would make sense if they did</div>
</div>

<div class="section">
    <div class="header">Final Notes</div>
    <div>In order to accomodate quick rendering of particularly large groups, all tables implement "virtual scrolling"</div>
    <div>As tables are scrolled, their header may jitter, this is a product of that feature</div>
</div>
