<div *ngIf="group.columns" class="task-table-container">
    <xiv-task-table-toolbar
        [group]="group"
        [tasks]="filteredTasks"
        [totalTasks]="tasks?.length"
        (onDataChange)="updateFilteredTasks(true)"
    ></xiv-task-table-toolbar>

    <div class="task-table-scroll-container">
        <p-table
            *ngIf="!!tasks?.length"
            #taskTable
            styleClass="p-datatable-striped"
            dataKey="_parent.fullStorageKey"
            [value]="filteredTasks"
            sortMode="multiple"
            [customSort]="true"
            (sortFunction)="sortData($event)"
            [virtualScroll]="true"
            [virtualScrollItemSize]="36"
            [scrollable]="true"
            scrollHeight="flex"
            (onRowReorder)="onRowReorder($event)"
        >
            <ng-template pTemplate="header">
                <xiv-header-row
                    [group]="group"
                    [uniqueValues]="uniqueValues"
                ></xiv-header-row>
            </ng-template>
            <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
                <xiv-data-row
                    [dragEnabled]="group.draggable && !debounceDrag"
                    [rowIndex]="rowIndex"
                    [group]="group"
                    [task]="task"
                    (completionChange)="updateFilteredTasks(true)"
                ></xiv-data-row>
            </ng-template>
        </p-table>
    </div>
</div>
