<div *ngIf="group.columns" class="task-table-container">
    <div class="task-table-toolbar">
        <span class="p-buttonset">
            <ng-container *ngIf="hasTasks && !group._isNumericCompletion">
                <xiv-quick-mark-dropdown
                    [tasks]="filteredTasks"
                    (onMark)="updateFilteredTasks()"
                ></xiv-quick-mark-dropdown>

                <xiv-select-dropdown
                    [group]="group"
                    [tasks]="filteredTasks"
                ></xiv-select-dropdown>
            </ng-container>

            <ng-container *ngIf="hasTasks">
                <xiv-chain-dropdown
                    [disableUndo]="group.isCustomGroup"
                ></xiv-chain-dropdown>
            </ng-container>

            <xiv-custom-task-dropdown
                *ngIf="group.isCustomGroup"
                [tasks]="filteredTasks"
            ></xiv-custom-task-dropdown>
        </span>

        <span
            *ngIf="hasTasks"
            class="row-count"
            tooltipPosition="top"
            pTooltip="{{tasks.length - filteredTasks.length}} Hidden"
        >
            {{filteredTasks.length}} Rows displayed
        </span>
    </div>

    <div class="task-table-scroll-container">
        <p-table
            *ngIf="hasTasks"
            #taskTable
            styleClass="p-datatable-striped"
            dataKey="_parent.fullStorageKey"
            [value]="filteredTasks"

            [rowGroupMode]="groupRows ? 'subheader' : null"
            [groupRowsBy]="groupRows ? '_parent.fullStorageKey' : null"

            [virtualScroll]="true"
            [virtualRowHeight]="40"
            scrollHeight="100%"

            (onRowReorder)="onRowReorder($event)"
        >
            <ng-template pTemplate="header">
                <xiv-header-row
                    [group]="group"
                    [uniqueValues]="uniqueValues"
                    (filterChange)="onFilterChange($event)"
                ></xiv-header-row>
            </ng-template>
            <ng-template pTemplate="groupheader" let-task let-expanded="expanded">
                <tr pRowGroupHeader [pRowToggler]="task">
                    <td>
                        <p-button
                            styleClass="p-button-text p-button-rounded p-button-plain p-mr-2"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        ></p-button>
                    </td>
                    <td [colSpan]="group.columns.length + 1">
                        {{task | groupLink}}
                    </td>
                </tr>
            </ng-template>
            <ng-template [pTemplate]="groupRows ? 'rowexpansion' : 'body'" let-task let-rowIndex="rowIndex">
                <xiv-data-row
                    [dragEnabled]="group.draggable && !debounceDrag"
                    [rowIndex]="rowIndex"
                    [columns]="group.columns"
                    [task]="task"
                    (completionChange)="updateFilteredTasks()"
                ></xiv-data-row>
            </ng-template>
        </p-table>
    </div>
</div>
