@import './ellipsis-overflow';

:host {
    display: contents;

    .task-table-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: var(--inline-spacing);

        .task-table-scroll-container {
            display: inline-block;
            overflow-y: auto;

            height: 100%;
            width: 100%;
        }
    }

    ::ng-deep .p-datatable {
        height: 100%;

        .p-datatable-table {
            width: 100%;

            .p-datatable-tbody {
                :nth-child(odd) .selected td:not(.noSelect) {
                    background-color: var(--selected);
                }

                :nth-child(even) .selected td:not(.noSelect) {
                    background-color: var(--selected-2);
                }
            }
        }

        tr {
            th {
                // Prevent headers from scrolling with the table
                position: sticky;
                top: 0;

                // Prevent weird highlighting
                user-select: none;
            }

            td {
                cursor: pointer;

                // Prevent any overflow into sibling cells
                overflow: hidden;

                ::ng-deep .p-button {
                    // Ensure buttons take the width of their cell
                    width: 100%;

                    .p-button-label {
                        @extend %ellipsis-overflow;
                        text-align: left;
                    }
                }
            }
        }

        // Fix rendering artifact on dynamically removed rows
        //TODO: this is a bandaid for now, assuming the artifact still happens
        //TODO: but is the same color as whats below the table
        // stems from "contain: content"
        .p-datatable-wrapper {
            .cdk-virtual-scroll-content-wrapper {
                //contain: unset;
                background: var(--surface-a);
            }
        }
    }
}
