@import './colors';

:host {
    display: contents;

    .task-table-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .task-table-toolbar {
            display: flex;
            align-items: center;

            .row-count {
                margin-left: 5px;
                cursor: default;
            }
        }

        .task-table-scroll-container {
            display: inline-block;
            overflow-y: auto;

            height: 100%;
            width: 100%;
        }
    }

    ::ng-deep .p-datatable {
        //---------------------- Table Row ----------------------
        tr {
            &:not(.p-rowgroup-header) {
                cursor: pointer;
            }

            &.p-rowgroup-header td {
                padding: 0;

                .p-button {
                    margin-left: calc(50% - 1rem);
                    height: 2rem;
                    width: 2rem;
                }
            }

            &:nth-child(even) {
                background-color: $blue-3;
            }

            &.selected td:not(.noSelect) {
                background-color: var(--selected);
            }

            &.selected:nth-child(even) td:not(.noSelect) {
                background-color: var(--selected-2);
            }
        }

        //---------------------- Table Cell ----------------------
        th, td {
            max-width: 20vw;

            &.centered {
                text-align: center;
            }
        }

        //---------------------- Table Header ----------------------
        th {
            border: 1px solid black;
            border-top: none;
            border-left: none;

            background-color: $blue-2;
            padding: 0 5px;
            position: sticky;
            top: 0;

            cursor: context-menu;
            user-select: none;

            &:hover {
                //background-color: rgba(0, 0, 0, 0.1);
            }
        }

        //---------------------- Table Data ----------------------
        td {
            //white-space: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
