<div class="section">
    <div class="header">Navigation Drawer (that thingy on the left)</div>

    <div>This UI shows all top level groups at all times as well as the home menu (FFXIV Completionist)</div>
    <div>When you click one of these groups, all of its sub groups expand while the previously selected group's retracts</div>
    <div>You can then continue clicking down through sub groups until you get to what you want to look at</div>
</div>

<div class="section">
    <div class="header">Breadcrumbs (that chain of groups just below the overall completion metric)</div>
    <div>If you want to jump back up to an earlier parent group, you can click on any of these to navigate backwards</div>
</div>

<div class="section">
    <div class="header">Navigation History (the button to the left of the breadcrumbs)</div>
    <div>Several of the groups previous open are cached in this menu</div>
    <div>Clicking on one of these navigates to that group</div>
</div>

<div class="section">
    <div class="header">Completion Bars (those pretty bars that show up when a group is selected)</div>
    <div>When any group that shows completion bars is selected, you can click on those bars to dive down instead of using the nav drawer</div>
</div>

<div class="section">
    <div class="header">Search</div>
    <div>The Search input in the top-left of the page allows you to search the app for a term</div>
    <div>After entering the term hit Enter or click the search button to run the search</div>
    <div>Clicking on a group in the results takes you directly to that group</div>
    <div>The Search input can be focused by hitting Ctrl+F or Cmd+F</div>
</div>

<div class="section">
    <div class="header">Bookmarks</div>
    <div>Individual tasks can be added or removed from bookmarks through their row action menu</div>
    <div>Groups can be added or removed as well through the "Table Settings" overlay</div>
    <div>Only bookmarked tasks are counted toward completion of the Bookmarks group</div>
    <div>Bookmarked items are not duplicated in the Overall percentage</div>
</div>

<div class="section">
    <div class="header">Final Note</div>
    <div>Your currently selected group is saved when closing the app to help you pick up where you left off :D</div>
    <div>There is a "Show All Tasks" button for groups that have similar sub groups under them, this will give you a table with all of the items underneath in one big table</div>
</div>
