// App specific overrides
@layer primeng {
    .p-button {
        &.p-button-link {
            color: var(--primary-color-light);
        }
    }

    .p-overlaypanel {
        border: 1px solid var(--surface-700);

        &:before {
            border-bottom-color: var(--surface-700);
        }
    }

    .p-panelmenu {
        .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
            // Ensure left drawer items are small to account for shenanigans that make
            // the top level items hide behind the search
            padding: 2px;
        }
    }

    .p-tooltip {
        max-width: unset !important;
        pointer-events: none !important;

        .p-tooltip-text {
            border: 1px solid var(--surface-800);
        }
    }

    .p-link {
        font-size: 1rem;
        font-family: var(--font-family);
        border-radius: 4px;

        &:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none;
        }
    }
}
