@use "../_mixins";
@use "../../_variables";

@layer primeng {
    .p-inplace {
        .p-inplace-display {
            padding: variables.$inplacePadding;
            border-radius: var(--border-radius);
            transition: variables.$formElementTransition;

            &:not(.p-disabled):hover {
                background: variables.$inplaceHoverBg;
                color: variables.$inplaceTextHoverColor;
            }

            &:focus {
                @include mixins.focused();
            }
        }
    }
}
