<div class="section">
    <div class="header">Releases</div>
    <div>Release times may vary</div>
    <div>In the main menu group there are patch notes for the app</div>
</div>

<div class="section">
    <div class="header">Localization</div>
    <div>Current language can be set within the settings page</div>
    <div>French localization is a work-in-progress</div>
    <div>Additional localization is possible with volunteers</div>
</div>

<div class="section">
    <div class="header">Feedback</div>
    <div>Any feedback for the app can be communicated through discord here: https://discord.gg/Hern5M33U2</div>
    <div>Feedback can mean a number of things:</div>
    <ul>
        <li>Bugs with the app</li>
        <li>Incorrect/misspelled information</li>
        <li>Suggestions</li>
    </ul>
    <div>Check the "Dev Notes" menu as well to see if your feedback is already mentioned</div>
</div>

<div class="section">
    <div class="header">Final Note</div>
    <div>Thats it! Go forth and complete! :D</div>
</div>
