<div
    data-active-help="APP.ACTIVE_HELP.NAV_BAR.BREADCRUMBS"
    class="breadcrumbs-container"
>
    @for(breadcrumb of breadcrumbs(); track breadcrumb.group.fullStorageKey) {
        <span
            data-active-help="APP.ACTIVE_HELP.NAV_BAR.BREADCRUMB"
            class="breadcrumb"
            (click)="onItemClick(breadcrumb)"
        >
            {{breadcrumb.label}}
        </span>

        @if($index < breadcrumbs().length - 1) {
            <div
                data-active-help="APP.ACTIVE_HELP.NAV_BAR.BREADCRUMB_ARROW"
                class="breadcrumb-group-arrow pi"
                [ngClass]="breadcrumb.isGroupExpanded ? 'pi-chevron-down' : 'pi-chevron-right'"
                (click)="onArrowClick(breadcrumb); op.toggle($event)"
            ></div>
        }
    }
</div>

<p-popover
    #op
    styleClass="breadcrumb-overlay-panel"
    (onHide)="onPanelHide()"
>
    @let selected = selectedCrumb();
    @if(selected) {
        @for(kv of selected.group.subGroups | keyvalue: asIsOrderTransform; track kv.key) {
            @if(kv.value) {
                <div (click)="op.hide()">
                    <com-content-link
                        [content]="kv.value"
                        [nameOnly]="true"
                    ></com-content-link>
                </div>
            }
        }
    }
</p-popover>
