<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-link"
        [ngClass]="{ 'do-notify': doNotify }"
    ></p-button>

    <div *ngIf="isVisible" class="overlay-panel">
        <!-- Dropdown Content Body with no Data -->
        <div *ngIf="!chainStart" class="content">
            <p-button label="No chain information to display"></p-button>
        </div>

        <!-- Dropdown Content Body with Data -->
        <span *ngIf="chainStart" class="content">
            <!-- Undo Button -->
            <p-button
                *ngIf="!disableUndo"
                [label]="!undoVerified ? 'Undo last action' : 'Are you sure?'"
                (onClick)="onUndoLastChain()"
            ></p-button>

            <!-- Recent Action Info -->
            <span class="p-buttonset">
                <p-button
                    styleClass="chain-task-path"
                    [disabled]="true"
                >
                    <div>{{chainStart.path}}</div>
                    <div>
                        Marking "{{chainStart.task.name}}"&nbsp;
                        as "<span [ngClass]="[chainStart.toFlag]">{{chainStart.toFlag}}</span>"&nbsp;
                        chained to {{chainedTaskCount}} other items
                    </div>
                </p-button>
                <p-button
                    icon="material-icons mi-navigate-next"
                    pTooltip="Navigate to this group"
                    tooltipPosition="left"
                    styleClass="chain-task-nav"
                    (onClick)="onNavigateToGroup(chainStart.path)"
                ></p-button>
            </span>

            <!-- Chained Groups Scroll Container -->
            <div class="chain-scroll-container">
                <ng-container *ngFor="let group of chainedTasks | keyvalue">
                    <span class="p-buttonset">
                        <p-button
                            label="{{group.key}} ({{groupChainLength(group.value)}})"
                            styleClass="group-path"
                            (onClick)="onToggleShowChainedGroup(group.value)"
                        ></p-button>
                        <p-button
                            icon="material-icons mi-navigate-next"
                            pTooltip="Navigate to this group"
                            tooltipPosition="left"
                            styleClass="group-nav"
                            (onClick)="onNavigateToGroup(group.key)"
                        ></p-button>
                    </span>

                    <!-- Group Content Items -->
                    <ng-container *ngIf="group.value.show">
                        <ng-container *ngFor="let item of group.value | keyvalue">
                            <p-button
                                *ngIf="item.value.task"
                                class="chained-task"
                                [disabled]="true"
                            >
                                <span [ngClass]="[item.value.fromFlag]">
                                    {{item.value.fromFlag}}
                                </span>
                                &nbsp;>&nbsp;
                                <span [ngClass]="[item.value.task.completionFlag]">
                                    {{item.value.task.completionFlag}}
                                </span>
                                &nbsp;-&nbsp;
                                {{item.value.task.name}}
                            </p-button>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </span>
    </div>
</span>
