.overlay-container {
    $nav-arrow-width: 38px;

    .do-notify ::ng-deep .mi-link {
        animation: chainNotificationPulse 2s infinite;
    }

    .overlay-panel {
        .content {
            .p-buttonset {
                width: 100%;

                // Chain start summary specific
                &.chain-start ::ng-deep .p-button {
                    height: 50px;
                }

                // Chain group specific
                &.chain-group ::ng-deep .p-button {
                    height: 38px;
                }

                // Common
                ::ng-deep .p-button {
                    &.path {
                        width: calc(100% - #{$nav-arrow-width});

                        // Wrap lines, left align, vertical center
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                    }

                    &.nav {
                        width: $nav-arrow-width;
                    }
                }
            }

            .chained-task ::ng-deep {
                width: 100%;

                .p-button {
                    padding: 0 0 0 25px;
                    width: 100%;

                    .task-name {
                        padding-left: 10px;
                    }
                }
            }

            .chain-scroll-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                overflow-y: auto;
                height: 50vh;
                min-width: 700px;
            }

            .Y, .N, .X {
                display: inline-block;
                padding: 3px;
            }

            .Y { background-color: var(--completed); }
            .N { background-color: var(--incomplete); }
            .X {
                background-color: var(--excluded);
                color: black;
            }
        }
    }
}

::ng-deep .chain-navigate-tooltip {
    margin-left: 10px;
}

@keyframes chainNotificationPulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}
