<span
    #container
    (mouseenter)="overlayPanel.show($event)"
    (mouseleave)="overlayPanel.hide()"
>
    <p-button styleClass="p-button-sm" icon="material-icons mi-touch-app"></p-button>

    <p-overlayPanel
        #overlayPanel
        styleClass="overlay-dropdown"
        [appendTo]="container"
    >
        <span
            class="option-container"
        >
            <p-button [disabled]="true">Selection Actions Menu</p-button>
            <p-button (click)="onSelectChange(true)">Select All Tasks</p-button>
            <p-button (click)="onSelectChange(false)">Deselect All Tasks</p-button>
            <p-button (click)="onSelectChange(null)">Invert Selection</p-button>

            <ng-template *ngIf="group.isCraftingLogGroup">
                <p-button (click)="openInGarland()">Open Selected Recipes in Garland Tools</p-button>
                <p-button (click)="openInTeamcraft()">Open Selected Recipes in Teamcraft</p-button>
            </ng-template>
        </span>
    </p-overlayPanel>
</span>
