<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-touch-app"
    ></p-button>

    <div *ngIf="isVisible" class="overlay-panel">
        <span class="content">
            <p-button [disabled]="true">Selection Actions Menu</p-button>
            <p-button (click)="onSelectChange(true)">Select All Tasks</p-button>
            <p-button (click)="onSelectChange(false)">Deselect All Tasks</p-button>
            <p-button (click)="onSelectChange(null)">Invert Selection</p-button>

            <ng-template *ngIf="group.isCraftingLogGroup">
                <p-button (click)="openInGarland()">Open Selected Recipes in Garland Tools</p-button>
                <p-button (click)="openInTeamcraft()">Open Selected Recipes in Teamcraft</p-button>
            </ng-template>
        </span>
    </div>
</span>
