<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-touch-app"
    ></p-button>

    <div *ngIf="isVisible" class="overlay-panel">
        <span class="content">
            <p-button label="Selection Actions Menu" [disabled]="true"></p-button>
            <p-button label="Select All Tasks" (onClick)="onSelectChange(true)"></p-button>
            <p-button label="Deselect All Tasks" (onClick)="onSelectChange(false)"></p-button>
            <p-button label="Invert Selection" (onClick)="onSelectChange(null)"></p-button>

            <ng-container *ngIf="group.isCraftingLogGroup">
                <p-divider align="center">
                    Selected Actions
                </p-divider>

                <p-button
                    label="Open in Garland Tools"
                    (onClick)="openInGarland()"
                ></p-button>

                <p-button
                    label="Open in Teamcraft"
                    (onClick)="openInTeamcraft()"
                ></p-button>
            </ng-container>
        </span>
    </div>
</span>
