<div
    class="action-dropdown-container"
    (mouseenter)="dropdownOpen = true"
    (mouseleave)="dropdownOpen = false"
>
    <div class="xiv-dropdown-arrow">
        <xiv-icon name="arrow" size="16"></xiv-icon>
    </div>
    <div *ngIf="dropdownOpen" class="xiv-dropdown-body">
        <button
            [disabled]="lastChanged.length === 0"
            class="xiv-dropdown-li"
            (click)="onUndoLastChange()"
        >
            <ng-template *ngIf="lastChanged.length; else noUndo">Undo Last Quick-Mark</ng-template>
            <ng-template #noUndo>Quick-Mark Menu</ng-template>
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('N', 'Y')">
            (<xiv-icon name="incomplete"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="complete"></xiv-icon>)
            Mark Incomplete as Complete
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('N', 'X')">
            (<xiv-icon name="incomplete"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="exclude"></xiv-icon>)
            Mark Incomplete as Excluded
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('Y', 'N')">
            (<xiv-icon name="complete"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="incomplete"></xiv-icon>)
            Mark Complete as Incomplete
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('Y', 'X')">
            (<xiv-icon name="complete"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="exclude"></xiv-icon>)
            Mark Complete as Excluded
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('X', 'N')">
            (<xiv-icon name="exclude"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="incomplete"></xiv-icon>)
            Mark Excluded as Incomplete
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('X', 'Y')">
            (<xiv-icon name="exclude"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="complete"></xiv-icon>)
            Mark Excluded as Complete
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('$', 'Y')">
            (<xiv-icon name="selected"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="complete"></xiv-icon>)
            Mark Selected as Complete
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('$', 'N')">
            (<xiv-icon name="selected"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="incomplete"></xiv-icon>)
            Mark Selected as Incomplete
        </button>
        <button class="xiv-dropdown-li" (click)="onChangeTaskCompletion('$', 'X')">
            (<xiv-icon name="selected"></xiv-icon> <xiv-icon name="arrow"></xiv-icon> <xiv-icon name="exclude"></xiv-icon>)
            Mark Selected as Excluded
        </button>
    </div>
</div>
