:host {
    $button-size: 20px;

    display: contents;

    .actions-cell {
        width: 45px;

        .img {
            cursor: pointer;
        }

        ::ng-deep .p-speeddial {
            right: 10px;
            align-items: center;

            .p-speeddial-button {
                height: $button-size;
                width: $button-size;

                .p-button-icon {
                    font-size: 1rem;
                }
            }

            .p-speeddial-list {
                .p-speeddial-item {
                    .p-speeddial-action {
                        background-color: var(--primary-color);
                        height: $button-size;
                        width: $button-size;

                        .garland-icon {
                            background: url('../../../../../../assets/icons/garland.png');
                            background-size: cover;
                            height: $button-size;
                            width: $button-size;
                        }

                        .gamer-icon {
                            background: url('../../../../../../assets/icons/gamerescape.png');
                            background-size: cover;
                            height: $button-size;
                            width: $button-size;
                        }
                    }
                }
            }
        }
    }
}
