$button-size: 25px;

.action {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;

    // Size & Spacing
    height: $button-size;
    width: $button-size;
    margin: 0 5px;

    // Center non-icon actions
    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;

    &:hover {
        border-color: var(--primary-color-light);
    }
}
