<div *ngIf="isModalVisible" class="xiv-modal"></div>

<div class="setting" *ngIf="languages">
    <label>{{'MAIN.SETTING.LANGUAGE.LABEL' | translate}}:</label>
    <p-dropdown
        optionValue="short"
        optionLabel="long"
        [options]="languages"
        [(ngModel)]="settings.lang.value"
        (onChange)="onChangeLanguage()"
    ></p-dropdown>
</div>

<div class="setting starting-class" *ngIf="startingClasses">
    <span
        class="tooltip-container"
        [pTooltip]="'MAIN.SETTING.CLASSES.TOOLTIP' | translate"
        tooltipPosition="right"
    >
        <label>{{'MAIN.SETTING.CLASSES.LABEL' | translate}}:</label>
        <p-dropdown
            optionValue="short"
            optionLabel="long"
            [placeholder]="'MAIN.SETTING.CLASSES.PLACEHOLDER' | translate"
            [options]="startingClasses"
            [showClear]="true"
            [(ngModel)]="settings.startingClass.value"
            (onChange)="onChangeStartingClass()"
        ></p-dropdown>
    </span>

    <xiv-chain-overlay [disableUndo]="true"></xiv-chain-overlay>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.LOCATION' | translate}}:</label>
    <label>{{settings.storeLocation.value}}</label>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.NAME' | translate}}:</label>
    <label>{{settings.storeName.value}}.json</label>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.CHANGE' | translate}}:</label>
    <span class="p-buttonset">
        <p-button
            [label]="'MAIN.SETTING.SAVE.NEW' | translate"
            (onClick)="onNewSaveClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.LOAD' | translate"
            (onClick)="onLoadSaveClick()"
        ></p-button>
    </span>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.OPEN' | translate}}:</label>
    <span class="p-buttonset">
        <p-button
            [label]="'MAIN.SETTING.SAVE.CONFIG' | translate"
            (onClick)="onOpenConfigClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.SAVE' | translate"
            (onClick)="onOpenSaveClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.BOTH' | translate"
            (onClick)="onOpenBothClick()"
        ></p-button>
    </span>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.BACKUP' | translate}}:</label>
    <span class="p-buttonset">
        <p-button
            [label]="'MAIN.SETTING.SAVE.CONFIG' | translate"
            (onClick)="onBackupConfigClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.SAVE' | translate"
            (onClick)="onBackupSaveClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.BOTH' | translate"
            (onClick)="onBackupBothClick()"
        ></p-button>
    </span>
</div>

<div class="setting">
    <label>{{'MAIN.SETTING.SAVE.LOAD_BACKUP' | translate}}:</label>
    <span class="p-buttonset">
        <p-button
            [label]="'MAIN.SETTING.SAVE.CONFIG' | translate"
            (onClick)="onLoadBackupConfigClick()"
        ></p-button>
        <p-button
            [label]="'MAIN.SETTING.SAVE.SAVE' | translate"
            (onClick)="onLoadBackupSaveClick()"
        ></p-button>
    </span>
</div>
