.setting.starting-class {
    margin-top: 10px;

    // Fixes issue when built where dropdown wraps
    .tooltip-container {
        display: flex;
        align-items: center;
    }

    ::ng-deep {
        .p-dropdown {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 180px;
        }

        .overlay-container {
            .overlay-panel {
                left: -180px;

                .chain-scroll-container {
                    height: 175px !important;
                }
            }

            .p-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}
