<div class="section">
    <div class="header">{{'MAIN.GUIDE.SAVING.OVERVIEW.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.OVERVIEW.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.OVERVIEW.L2' | translate}}</div>
    <br/>
    <div>{{'MAIN.GUIDE.SAVING.OVERVIEW.L3' | translate}}</div>
    <ul>
        <li>{{'MAIN.GUIDE.SAVING.OVERVIEW.L31' | translate}}</li>
        <li>{{'MAIN.GUIDE.SAVING.OVERVIEW.L32' | translate}}</li>
    </ul>
    <div>{{'MAIN.GUIDE.SAVING.OVERVIEW.L4' | translate}}</div>
    <br/>
    <div>{{'MAIN.GUIDE.SAVING.OVERVIEW.L5' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.SAVING.CHANGE.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.CHANGE.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.CHANGE.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.SAVING.OPEN.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.OPEN.L1' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.SAVING.BACKUP.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.BACKUP.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.BACKUP.L2' | translate}}</div>
    <br/>
    <div>{{'MAIN.GUIDE.SAVING.BACKUP.L3' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.SAVING.LOAD_BACKUP.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.SAVING.LOAD_BACKUP.L1' | translate}}</div>
</div>
