@import './colors';

.xiv-button {
    background-color: $blue-3;
    border-radius: 10px;
    border: 1px solid;
    color: $blue-1;
    text-align: center;
    user-select: none;

    margin: 5px;
    padding: 0 10px;

    &:hover {
        filter: brightness(125%);
        cursor: pointer;
    }

    &:active {
        filter: brightness(75%);
    }
}