$blue-1: #bbe1fa;
$blue-2: #3282B8;
$blue-3: #0f4c75;

// Specific State Colors
$state_selected: #b86132;
$state_selected-2: #75330f;
$state_incomplete: #75190f;
$state_completed: #0f7538;
$state_excluded: #aaa;
