@import './colors';

/*---------------------- Dropdown Arrow ----------------------*/
.xiv-dropdown-arrow {
    background-color: $blue-3;
    border-radius: 12px 12px 12px 0;
    border: 1px solid;
    color: $blue-1;
    height: 23px;
    width: 14px;
    user-select: none;

    margin-bottom: 5px;
    padding: 0 10px;

    &:hover {
        filter: brightness(125%);
        cursor: pointer;
    }

    &:active {
        filter: brightness(75%);
    }
}

/*---------------------- Dropdown Body ----------------------*/
.xiv-dropdown-body {
    background-color: $blue-2;
    border-radius: 0 10px 10px 10px;
    border: 1px solid;
    color: $blue-1;
    position: absolute;
    margin-top: -6px;
    z-index: 1;
}

/*---------------------- Dropdown li ----------------------*/
.xiv-dropdown-li {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: $blue-1;
    display: block;
    padding: 5px;
    text-align: left;
    width: 100%;

    &:last-child {
        border: none;
    }

    &:not(:disabled):hover {
        filter: brightness(125%);
        cursor: pointer;
    }

    &:not(:disabled):active {
        filter: brightness(75%);
    }

    &.disabled:hover {
        filter: none;
        cursor: auto;
    }
}
