.p-buttongroup {
    display: flex;

    // Rounding on first button
    >:first-child .p-button {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    >:not(:last-child) .p-button {
        // Border between buttons
        border-right: 1px solid var(--primary-color-text);

        // No right rounding on inner buttons
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    // No left rounding on inner buttons
    >:not(:first-child) .p-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    // Rounding on last button
    >:last-child .p-button {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}
