@import './colors';

//---------------------- Elements ----------------------
body {
    background-color: #1B262C;
    color: $blue-1;
    height: 100vh;
    width: 100vw;
    min-width: 900px;
    margin: 0;
    overflow: hidden;
}

p-button {
    user-select: none;
}

//---------------------- Scrollbar Override ----------------------
