@import './colors';

.xiv-input {
    /*background-color: $blue-3;*/
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: $blue-1;
    margin: 0 5px;

    &::placeholder {
        color: $blue-1;
    }

    &:focus {
        outline: none;
    }
}
