.static-cell {
    padding-left: var(--content-padding);
}

.edit-cell ::ng-deep {
    .p-inputtextarea {
        overflow: hidden;
        resize: none;
        width: 100%;

        // Override styles applied by pInputTextArea
        height: 25px !important;
        margin-bottom: -4px;
        padding: 4px var(--content-padding);
    }
}
