<ng-container
    *ngTemplateOutlet="task.selected ? textArea : staticValue"
></ng-container>

<ng-template #textArea>
    <span class="edit-cell">
        <textarea
            #editInput
            pInputTextarea
            class="noSelect"
            rows="1"
            [value]="task[key]"
            (click)="onTextAreaClick()"
            (focusout)="onTextAreaFocusOut()"
            (change)="onTextAreaChange($event)"
            (keyup)="onTextAreaKeyup($event)"
        ></textarea>
    </span>
</ng-template>

<ng-template #staticValue>
    <div class="static-cell" (click)="onCellClick()">
        {{task[key]}}
    </div>
</ng-template>
