:host {
    display: contents;

    .data-row {
        height: 36px;
    }

    // Create the stripe pattern for rows
    .even-row {
        background: var(--surface-800);
    }

    ::ng-deep .table-cell {
        vertical-align: middle;
    }
}
