@use "../_variables";
@use "_mixins";

@layer primeng {
    * {
        box-sizing: border-box;
    }

    .p-component {
        font-family: var(--font-family);
        font-feature-settings: var(--font-feature-settings, normal);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
    }

    .p-component-overlay {
        background-color: var(--maskbg);
        transition-duration: variables.$transitionDuration;
    }

    .p-disabled, .p-component:disabled {
        opacity: variables.$disabledOpacity;
    }

    .p-error {
        color: variables.$errorColor;
    }

    .p-text-secondary {
        color: var(--text-color-secondary);
    }

    .pi {
        font-size: variables.$primeIconFontSize;
    }

    .p-icon {
        width: variables.$primeIconFontSize;
        height: variables.$primeIconFontSize;
    }

    .p-link {
        font-family: var(--font-family);
        font-feature-settings: var(--font-feature-settings, normal);
        font-size: var(--font-size);
        border-radius: var(--border-radius);

        &:focus-visible {
            @include mixins.focused();
        }
    }

    .p-component-overlay-enter {
        animation: p-component-overlay-enter-animation 150ms forwards;
    }

    .p-component-overlay-leave {
        animation: p-component-overlay-leave-animation 150ms forwards;
    }

    .p-component-overlay {
        @keyframes p-component-overlay-enter-animation {
            from {
                background-color: transparent;
            }
            to {
                background-color: var(--maskbg);
            }
        }

        @keyframes p-component-overlay-leave-animation {
            from {
                background-color: var(--maskbg);
            }
            to {
                background-color: transparent;
            }
        }
    }
}
