<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-add"
    ></p-button>

    <div
        *ngIf="autoMerge"
        class="auto-merge-modal"
        (click)="modalNoNo($event)"
    ></div>

    <div *ngIf="isVisible && !isMergeVisible" class="overlay-panel">
        <span class="content">
            <div class="task-property-input">
                <input
                    type="text"
                    pInputText
                    placeholder="Enter Custom Task Name Here"
                    [(ngModel)]="newTaskName"
                />
            </div>
            <div class="task-property-input">
                <input
                    type="text"
                    pInputText
                    placeholder="Enter Custom Task Notes Here"
                    [(ngModel)]="newTaskNotes"
                />
            </div>
            <p-button label="Add Custom Task" (onClick)="addCustomTask()"></p-button>
            <p-button label="Merge Custom Tasks into App" (onClick)="mergeCustomTasks()"></p-button>
            <p-button label="Remove Selected Tasks" (click)="removeSelectedCustomTasks()"></p-button>
        </span>
    </div>

    <div *ngIf="isMergeVisible" class="overlay-panel">
        <span class="content">
            <div class="merge-details">
                {{mergeTask.name}}<br/>
                {{mergeTask.notes}}<br/><br/>
                {{mergeInfo}}
            </div>

            <p-button
                label="Auto-Merge Tasks with One Match"
                (onClick)="autoMergeSingleMatches()"
            ></p-button>
            <p-button label="Skip" (onClick)="goToNextMerge()"></p-button>
            <p-button label="Exit" (onClick)="exitMerge()"></p-button>

            <ng-container *ngIf="mergeMatches.length > 0">
                <p-button
                    *ngFor="let match of mergeMatches"
                    [label]="match.path"
                    (onClick)="confirmCurrentMerge(match)"
                ></p-button>
            </ng-container>
        </span>
    </div>
</span>
