.custom-task-dropdown-container {
    .option-container {
        width: 300px;
    }

    .auto-merge-modal {
        background-color: black;
        position: absolute;
        z-index: 9999;
        opacity: 0.25;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
    }

    .task-property-input {
        padding: 5px 0;

        input {
            width: 100%;
        }
    }

    .merge-custom-tasks-dropdown-item {
        width: unset;
    }
}
