<span
    #container
    class="custom-task-dropdown-container"
    (mouseenter)="overlayPanel.show($event)"
    (mouseleave)="overlayPanel.hide()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-add"
    ></p-button>

    <div
        *ngIf="autoMerge"
        class="auto-merge-modal"
        (click)="modalNoNo($event)"
    ></div>

    <p-overlayPanel
        #overlayPanel
        styleClass="overlay-dropdown"
        [appendTo]="container"
    >
        <span class="option-container">
            <div class="task-property-input">
                <input
                    type="text"
                    pInputText
                    placeholder="Enter Custom Task Name Here"
                    [(ngModel)]="newTaskName"
                />
            </div>
            <div class="task-property-input">
                <input
                    type="text"
                    pInputText
                    placeholder="Enter Custom Task Notes Here"
                    [(ngModel)]="newTaskNotes"
                />
            </div>
            <p-button label="Add Custom Task" (onClick)="addCustomTask()"></p-button>
            <p-button label="Merge Custom Tasks into App" (onClick)="mergeCustomTasks()"></p-button>
            <p-button label="Remove Selected Tasks" (click)="removeSelectedCustomTasks()"></p-button>
        </span>
    </p-overlayPanel>

    <p-overlayPanel
        #mergeOverlayPanel
        styleClass="overlay-dropdown"
        [appendTo]="container"
    >
        <span class="option-container">
            <div class="merge-custom-tasks-dropdown-item">
                {{mergeTask.name}}<br/>
                {{mergeTask.notes}}<br/><br/>
                {{mergeInfo}}
            </div>
            <p-button
                label="Auto-Merge Tasks with One Match"
                (onClick)="autoMergeSingleMatches()"
            ></p-button>
            <p-button label="Skip" (onClick)="goToNextMerge()"></p-button>
            <p-button label="Exit" (onClick)="exitMerge()"></p-button>
            <ng-template *ngIf="mergeMatches.length > 0">
                <p-button
                    *ngFor="let match of mergeMatches"
                    [label]="match.path"
                    (onClick)="confirmCurrentMerge(match)"
                ></p-button>
            </ng-template>
        </span>
    </p-overlayPanel>
</span>
