<td
    class="completion-flag-cell noSelect"
    [style.background-color]="gradientBackground"
    [pTooltip]="tooltip"
>
    <p-inputNumber
        class="numeric-input"
        [(ngModel)]="value"
        [step]="step"
        [showButtons]="true"
        [minFractionDigits]="task._parent.numericDecimal"
        [maxFractionDigits]="task._parent.numericDecimal"
        (onBlur)="onTaskValueChange()"
    ></p-inputNumber>

    <span class="percentage">
        {{percentage}}%
    </span>
</td>
