.completion-flag-cell {
    position: relative;
    user-select: none;
    cursor: default;
    width: 99px;

    .numeric-input ::ng-deep {
        .p-inputtext {
            width: 45px;
        }

        .p-inputnumber-button {
            width: 40px;
        }
    }

    .percentage {
        pointer-events: none;
        position: absolute;
        left: 8px;
        bottom: 2px;
        width: 45px;

        color: var(--text-color-secondary);
        text-align: center;
        font-size: 8pt;
    }
}
