.breadcrumb-container {
    display: flex;

    p-button ::ng-deep .p-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 34px;
    }

    p-breadcrumb {
        flex-grow: 1;

        ::ng-deep {
            .p-breadcrumb {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                // Make cursor a pointer when hovering a breadcrumb MenuItem
                .p-menuitem-link {
                    cursor: pointer;
                }
            }
        }
    }
}

.history-links {
    display: flex;
    flex-direction: column;
}
