<div class="breadcrumb-container">
    <p-button
        icon="material-icons mi-history"
        (onClick)="op.toggle($event)"
    ></p-button>

    <p-breadcrumb
        [model]="items"
        (onItemClick)="onItemClick($event)"
    ></p-breadcrumb>
</div>

<p-overlayPanel #op>
    <span>{{'OVERLAY.HISTORY.TITLE' | translate}}:</span>
    <div class="history-links">
        <p-button
            *ngFor="let group of svcNavigation.groupHistory$ | async"
            styleClass="p-button-link"
            [pTooltip]="'GENERAL.GROUP_NAVIGATE' | translate"
            [label]="group | contentLink"
            (onClick)="goToHistory(group)"
        ></p-button>

        <div *ngIf="!(svcNavigation.groupHistory$ | async).length">
            {{'OVERLAY.HISTORY.NO_CONTENT' | translate}}
        </div>
    </div>
</p-overlayPanel>
