<div class="section">
    <div class="header">{{'MAIN.GUIDE.CHAINING.OVERVIEW.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L1' | translate}}</div>
    <ul>
        <li>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L11' | translate}}</li>
        <li>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L12' | translate}}</li>
        <li>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L13' | translate}}</li>
        <li>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L14' | translate}}</li>
        <li>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L15' | translate}}</li>
    </ul>
    <div>{{'MAIN.GUIDE.CHAINING.OVERVIEW.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.CHAINING.SPECIFICS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.SPECIFICS.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.SPECIFICS.L2' | translate}}</div>
    <ul>
        <li>{{'MAIN.GUIDE.CHAINING.SPECIFICS.L21' | translate}}</li>
        <li>{{'MAIN.GUIDE.CHAINING.SPECIFICS.L22' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.CHAINING.INTERFACE.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.INTERFACE.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.INTERFACE.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.INTERFACE.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.INTERFACE.L4' | translate}}</div>
    <br/>
    <div>{{'MAIN.GUIDE.CHAINING.INTERFACE.L5' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.CHAINING.SETTINGS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.SETTINGS.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.SETTINGS.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.CHAINING.SETTINGS.L3' | translate}}</div>
    <br/>
    <div>{{'MAIN.GUIDE.CHAINING.SETTINGS.L4' | translate}}</div>
</div>
