@use 'sass:list';
@use "../_mixins";
@use "../../_variables";

@layer primeng {
    .p-chip {
        background-color: variables.$chipBg;
        color: variables.$chipTextColor;
        border-radius: variables.$chipBorderRadius;
        padding: 0 list.nth(variables.$inputPadding, 2);

        .p-chip-text {
            line-height: 1.5;
            margin-top: list.slash(list.nth(variables.$inputPadding, 1), 2);
            margin-bottom: list.slash(list.nth(variables.$inputPadding, 1), 2);
        }

        .p-chip-icon {
            margin-right: var(--inline-spacing);
        }

        .pi-chip-remove-icon {
            margin-left: var(--inline-spacing);
        }

        img {
            width: 1.5 + list.nth(variables.$inputPadding, 1);
            height: 1.5 + list.nth(variables.$inputPadding, 1);
            margin-left: -1 * list.nth(variables.$inputPadding, 2);
            margin-right: var(--inline-spacing);
        }

        .pi-chip-remove-icon {
            border-radius: var(--border-radius);
            transition: variables.$actionIconTransition;

            &:focus-visible {
                @include mixins.focused();
            }

            &:focus {
                outline: 0 none;
            }
        }
    }
}
