
.p-progressbar {
    border: 0 none;
    height: 4px;
    background: rgba(206, 147, 216, 0.32);
    border-radius: 4px;
}

.p-progressbar .p-progressbar-value {
    border: 0 none;
    margin: 0;
    background: #CE93D8;
}

.p-progressbar .p-progressbar-label {
    color: rgba(255, 255, 255, 0.87);
    line-height: 4px;
}

.p-progressbar {
    border-radius: 0;
}

.p-progressbar .p-progressbar-label {
    display: none;
}
