
.p-skeleton {
    background-color: rgba(var(--text-color-rgb), 0.06);
    border-radius: 4px;
}

.p-skeleton:after {
    background: linear-gradient(90deg, rgba(var(--text-color-rgb), 0), rgba(var(--text-color-rgb), 0.04), rgba(var(--text-color-rgb), 0));
}
