* {
    box-sizing: border-box;
}

.p-error {
    color: #f44435;
}

.p-text-secondary {
    color: var(--text-color-secondary);
}

.pi {
    font-size: var(--icon-size);
}

::-webkit-input-placeholder {
    color: var(--text-color-secondary);
}

:-moz-placeholder {
    color: var(--text-color-secondary);
}

::-moz-placeholder {
    color: var(--text-color-secondary);
}

:-ms-input-placeholder {
    color: var(--text-color-secondary);
}
