
.p-organizationchart .p-organizationchart-node-content.p-organizationchart-selectable-node:not(.p-highlight):hover {
    background: rgba(255, 255, 255, 0.04);
    color: var(--text-color);
}

.p-organizationchart .p-organizationchart-node-content.p-highlight {
    background: rgba(var(--primary-color-rgb), 0.16);
    color: var(--primary-color);
}

.p-organizationchart .p-organizationchart-node-content.p-highlight .p-node-toggler i {
    color: rgba(157, 62, 173, 0.16);
}

.p-organizationchart .p-organizationchart-line-down {
    background: rgba(255, 255, 255, 0.12);
}

.p-organizationchart .p-organizationchart-line-left {
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.12);
}

.p-organizationchart .p-organizationchart-line-top {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.12);
}

.p-organizationchart .p-organizationchart-node-content {
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: var(--surface-a);
    color: var(--text-color);
    padding: var(--content-padding);
}

.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
    background: inherit;
    color: inherit;
    border-radius: 50%;
}

.p-organizationchart .p-organizationchart-node-content .p-node-toggler:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}
