
.p-picklist .p-picklist-buttons {
    padding: var(--content-padding);
}

.p-picklist .p-picklist-buttons .p-button {
    margin-bottom: 0.5rem;
}

.p-picklist .p-picklist-header {
    background: var(--surface-a);
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: var(--content-padding);
    border-bottom: 0 none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.p-picklist .p-picklist-header .p-picklist-title {
    font-weight: 500;
}

.p-picklist .p-picklist-filter-container {
    padding: var(--content-padding);
    background: var(--surface-a);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 0 none;
}

.p-picklist .p-picklist-filter-container .p-picklist-filter-input {
    padding-right: 2rem;
}

.p-picklist .p-picklist-filter-container .p-picklist-filter-icon {
    right: var(--content-padding);
    color: var(--text-color-secondary);
}

.p-picklist .p-picklist-list {
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: var(--surface-a);
    color: var(--text-color);
    padding: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.p-picklist .p-picklist-list .p-picklist-item {
    padding: var(--content-padding) var(--content-padding);
    margin: 0;
    border: 0 none;
    color: var(--text-color);
    background: transparent;
    transition: none;
}

.p-picklist .p-picklist-list .p-picklist-item:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-picklist .p-picklist-list .p-picklist-item.p-highlight {
    color: var(--primary-color);
    background: rgba(var(--primary-color-rgb), 0.16);
}

.p-picklist .p-picklist-list .p-picklist-empty-message {
    padding: var(--content-padding) var(--content-padding);
    color: var(--text-color);
}

.p-picklist .p-picklist-list:not(.cdk-drop-list-dragging) .p-picklist-item:not(.p-highlight):hover {
    background: rgba(255, 255, 255, 0.04);
    color: var(--text-color);
}

.p-picklist-item.cdk-drag-preview {
    padding: var(--content-padding) var(--content-padding);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: 0 none;
    color: var(--text-color);
    background: var(--surface-a);
    margin: 0;
}

.p-picklist .p-picklist-list .p-picklist-item:focus {
    background: rgba(255, 255, 255, 0.12);
}

.p-picklist .p-picklist-list .p-picklist-item:focus.p-highlight {
    background: rgba(var(--primary-color-rgb), 0.24);
}
