
.p-tree {
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: var(--surface-a);
    color: var(--text-color);
    padding: var(--content-padding);
    border-radius: 4px;
}

.p-tree .p-tree-container .p-treenode {
    padding: 0.25rem;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    border-radius: 4px;
    transition: none;
    padding: 0.5rem;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text-color-secondary);
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
    color: var(--text-color-secondary);
    border-color: transparent;
    background: rgba(255, 255, 255, 0.04);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
    margin-right: 0.5rem;
    color: var(--text-color-secondary);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox {
    margin-right: 0.5rem;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox .p-indeterminate .p-checkbox-icon {
    color: var(--text-color);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: rgba(206, 147, 216, 0.16);
    color: var(--primary-color);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
    color: var(--primary-color);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler:hover,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon:hover {
    color: var(--primary-color);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.87);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-dragover {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.87);
}

.p-tree .p-tree-filter-container {
    margin-bottom: 0.5rem;
}

.p-tree .p-tree-filter-container .p-tree-filter {
    width: 100%;
    padding-right: 2rem;
}

.p-tree .p-tree-filter-container .p-tree-filter-icon {
    right: var(--content-padding);
    color: var(--text-color-secondary);
}

.p-tree .p-treenode-children {
    padding: 0 0 0 var(--content-padding);
}

.p-tree .p-tree-loading-icon {
    font-size: 2rem;
}

.p-tree .p-treenode-droppoint.p-treenode-droppoint-active {
    background-color: rgba(182, 94, 197, 0.16);
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: var(--surface-a);
    color: rgba(255, 255, 255, 0.87);
    padding: 0.5rem;
    transition: none;
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content.p-highlight {
    background-color: rgba(206, 147, 216, 0.16);
    color: var(--primary-color);
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
    color: var(--primary-color);
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content .p-tree-toggler {
    margin-right: 0.5rem;
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content .p-treenode-icon {
    color: var(--text-color-secondary);
    margin-right: 0.5rem;
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content .p-checkbox {
    margin-right: 0.5rem;
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content .p-treenode-label:not(.p-highlight):hover {
    background-color: inherit;
    color: inherit;
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.87);
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    background: rgba(255, 255, 255, 0.12);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:focus.p-highlight {
    background: rgba(206, 147, 216, 0.24);
}
