<div class="section">
    <div class="header">Overview</div>
    <div>"Chaining" is the term used for when the app auto-marks a related task to the one just marked</div>
    <ul>
        <li>Tasks are chained backwards if the marked task could not have been completed without the previous</li>
        <li>Tasks are chained together if it is not possible to have one without the other</li>
        <li>Tasks can chain to exclude another task if they are mutually exclusive</li>
        <li>Tasks can be chained if each required task is completed</li>
        <li>Numeric tasks can be chained in the same way normal tasks can</li>
    </ul>
    <div>Chaining is disabled by default, this can be changed in the settings page</div>
</div>

<div class="section">
    <div class="header">Specifics</div>
    <div>Items that must be used after acquiring them from another task are not chained</div>
    <div>Tasks that require "X" amount of some thing may not be chained if:</div>
    <ul>
        <li>X is something other than 1, all, or a contiguous range</li>
        <li>That thing is not a numeric completion task</li>
    </ul>
</div>

<div class="section">
    <div class="header">Interface</div>
    <div>Any page with a table will have the chain overlay available</div>
    <div>The overlay button will pulse if the most recently marked task chained to other tasks</div>
    <div>Affected groups can be navigated to using the dropdown</div>
    <div>An undo is available for the most recently chained events</div>
    <br/>
    <div>NOTE: Undo is not available for chains from custom tasks or setting starting class</div>
</div>

<div class="section">
    <div class="header">Settings</div>
    <div>Enable/Disable: Allows you to turn chaining on or off completely</div>
    <div>History Limit: The amount of chained events to keep in memory to undo</div>
    <div>Min Threshold: Sets the number of chained tasks allowed before collapsing groups within the chain overlay</div>
    <br/>
    <div>NOTE: Setting the history limit too high and keeping the app open for days may cause memory issues</div>
</div>
