<div class="section">
    <div class="header">{{'MAIN.GUIDE.OTHER.RELEASE.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.RELEASE.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.RELEASE.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.OTHER.LOCALIZATION.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.LOCALIZATION.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.LOCALIZATION.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.LOCALIZATION.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.LOCALIZATION.L4' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.OTHER.FEEDBACK.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.FEEDBACK.L1' | translate}} https://discord.gg/Hern5M33U2</div>
    <div>{{'MAIN.GUIDE.OTHER.FEEDBACK.L2' | translate}}</div>
    <ul>
        <li>{{'MAIN.GUIDE.OTHER.FEEDBACK.L21' | translate}}</li>
        <li>{{'MAIN.GUIDE.OTHER.FEEDBACK.L22' | translate}}</li>
        <li>{{'MAIN.GUIDE.OTHER.FEEDBACK.L23' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.OTHER.ABOUT.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.ABOUT.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.ABOUT.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.ABOUT.L3' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.OTHER.FINAL.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.OTHER.FINAL.L1' | translate}}</div>
</div>
