<p-tabView class="guide">
    <p-tabPanel header="Navigation">
        <xiv-navigation-guide></xiv-navigation-guide>
    </p-tabPanel>
    <p-tabPanel header="Task Table">
        <xiv-task-table-guide></xiv-task-table-guide>
    </p-tabPanel>
    <p-tabPanel header="Special Groups">
        <xiv-special-groups-guide></xiv-special-groups-guide>
    </p-tabPanel>
    <p-tabPanel header="Completion">
        <xiv-completion-guide></xiv-completion-guide>
    </p-tabPanel>
    <p-tabPanel header="Chaining">
        <xiv-chaining-guide></xiv-chaining-guide>
    </p-tabPanel>
    <p-tabPanel header="Saving">
        <xiv-saving-guide></xiv-saving-guide>
    </p-tabPanel>
    <p-tabPanel header="Other">
        <xiv-other-guide></xiv-other-guide>
    </p-tabPanel>
</p-tabView>
