:host {
    display: contents;
}

.main-content {
    height: 100%;
    margin: 10px;

    .custom-group-component {
        // Prevent x overflow (find another way, this breaks task-table injection)
        //white-space: normal;

        // Scrollbar
        overflow-y: auto;
        height: calc(100vh - 112px);

        // Space on right when viewport is smaller
        padding-right: 10px;

        ::ng-deep > :first-child { // root of component
            display: contents;

            > :first-child { // First container of component
                height: 100%;
                width: 100%;
            }
        }
    }

    .table-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .group-summary-section {
            // wraps summaries each 3
            display: flex;
            flex-wrap: wrap;

            // For table height
            flex-shrink: 0;
        }
    }
}
