<h1>Version 0.5.21 - Beta 2</h1>

<h2>Functionality</h2>
<ul>
    <li>
        Added ability to customize location of save file
        <ul>
            <li>currently expects the new directory to not contain completion file</li>
            <li>make backups of your completion file before using (just in case)</li>
        </ul>
    </li>
    <li>
        Implemented preliminary localization (See "Settings > Change Language"):
        <ul>
            <li>Achievements</li>
            <li>Quests (excluding leves)</li>
        </ul>
    </li>
    <li>
        Added "Select All", "Deselect All", & "Exclude All" to tables
        <ul>
            <li>Only displayed tasks are modified i.e. filtered tasks are not changed</li>
        </ul>
    </li>
    <li>Fixed Crafting Logs Item column being a filter instead of search</li>
    <li>Various import fixes</li>
</ul>

<h2>Data</h2>
<h3>Additions</h3>
<ul>
    <li>Added 5.21 update</li>
    <li>Crafting Logs > Master Crafting Books</li>
    <li>Gathering Logs > Folklore Gathering Books</li>
    <li>Travel > Aetherytes</li>
</ul>

<h3>Changes</h3>
<ul>
    <li>Removed Diadem FATEs</li>
    <li>Updated Hanagasa & Redard's deck strength (triple triad opponents)</li>
    <li>Replaced Ishgard Restoration gathering items with Grade 2</li>
    <li>Removed "Sprig Cleaning" FATE from Central Shroud</li>
</ul>

<h3>Fixes</h3>
<ul>
    <li>Missing "The Sorrow of Werlyt" from Chronicles quests</li>
    <li>Missing "Svara's Fury" Coerthas Central FATE</li>
    <li>Immortal Flames Hunting Log 6 required kills</li>
    <li>Archer Hunting Log 1 required kills</li>
    <li>Various spelling fixes</li>
</ul>
