<p-button
    icon="material-icons mi-history"
    (onClick)="op.toggle($event)"
></p-button>

<p-overlayPanel #op>
    <div class="history-overlay-header">
        <span>{{'OVERLAY.HISTORY.TITLE' | translate}}</span>
        <p-button
            styleClass="p-button-link"
            icon="material-icons mi-close"
            size="small"
            [disabled]="!(svcNavigation.groupHistory$ | async).length"
            [life]="2000"
            [pTooltip]="'OVERLAY.HISTORY.CLEAR_ALL' | translate"
            (onClick)="clearHistory()"
        ></p-button>
    </div>


    <div class="history-links-container">
        <div *ngIf="!(svcNavigation.groupHistory$ | async).length" class="no-content">
            {{'OVERLAY.HISTORY.NO_CONTENT' | translate}}
        </div>

        <div *ngFor="let group of svcNavigation.groupHistory$ | async" class="history-links">
            <p-button
                styleClass="p-button-link"
                icon="material-icons mi-close"
                size="small"
                [life]="2000"
                [pTooltip]="'OVERLAY.HISTORY.REMOVE_ENTRY' | translate"
                tooltipPosition="left"
                (onClick)="removeHistory(group)"
            ></p-button>

            <p-button
                styleClass="p-button-link"
                [life]="2000"
                [pTooltip]="'GENERAL.GROUP_NAVIGATE' | translate"
                [label]="group | contentLink"
                (onClick)="svcNavigation.goToHistory(group); op.hide()"
            ></p-button>
        </div>
    </div>
</p-overlayPanel>
