<div class="main-content">
    <ng-container
        *ngTemplateOutlet="
            !selectedGroup || selectedGroup.noContent ? fallbackView :
            selectedGroup.component ? customComponentView :
            tableView
        "
    ></ng-container>
</div>

<!-- Forces the table to respect the summary line container's height -->
<!--TODO: screws up table sometimes??? -->
<div [style.height.px]="footerHeight"></div>

<!---------------------------------------------------------------------------->
<!------------------------------ View Templates ------------------------------>
<!---------------------------------------------------------------------------->
<ng-template #fallbackView>
    <xiv-landing-page></xiv-landing-page>
</ng-template>

<ng-template #customComponentView>
    <div class="custom-group-component">
        <ng-template anchor></ng-template>
    </div>
</ng-template>

<ng-template #tableView>
    <div class="table-content">
        <ng-container *ngIf="!svcNavigation.allTaskViewEnabled && selectedGroup.subGroups">
            <ng-container *ngTemplateOutlet="groupSummaries"></ng-container>
        </ng-container>

        <ng-container
            *ngTemplateOutlet="svcNavigation.allTaskViewEnabled ? allTaskTable : baseTable"
        ></ng-container>
    </div>
</ng-template>

<!----------------------------------------------------------------------------->
<!------------------------------ Group Templates ------------------------------>
<!----------------------------------------------------------------------------->
<ng-template #groupSummaries>
    <div class="group-summary-section">
        <ng-container *ngFor="let subGroup of selectedGroup.subGroups | keyvalue: asIsOrder">
            <xiv-summary-line
                *ngIf="!subGroup.value.isBookmarkGroup && !subGroup.value.isCustomGroup"
                [group]="subGroup.value"
                [showGroup]="selectedGroup.isBookmarkGroup"
            ></xiv-summary-line>
        </ng-container>
    </div>
</ng-template>

<ng-template #allTaskTable>
    <xiv-show-all-section
        [group]="selectedGroup"
    ></xiv-show-all-section>
</ng-template>

<ng-template #baseTable>
    <xiv-task-table
        *ngIf="selectedGroup.tasks"
        [group]="selectedGroup"
        [tasks]="selectedGroup.tasks"
    ></xiv-task-table>
</ng-template>
