@import '../../../styles/colors';

.main-content {
    height: calc(100% - 160px);
    margin: 10px;

    .custom-group-component {
        overflow-y: auto;
        white-space: normal;
        padding-right: 10px;
    }

    .group-summary-section {
        // wraps summaries each 3
        display: flex;
        flex-wrap: wrap;

        // gives height so tables w/ summaries display properly
        min-height: fit-content;
    }

    .section-actions {
        position: absolute;
        right: 100px;
    }
}
