@import '../../../styles/colors';

:host {
    display: contents;
}

.main-content {
    margin: 10px;

    // Ensures this container becomes scrollable
    min-height: 0;

    .custom-group-component {
        // Prevent x overflow
        white-space: normal;

        // Scrollbar
        overflow-y: auto;
        height: 100%;

        // Space on right when viewport is smaller
        padding-right: 10px;
    }

    .group-summary-section {
        // wraps summaries each 3
        display: flex;
        flex-wrap: wrap;
    }

    .section-actions {
        position: absolute;
        right: 100px;
    }
}
