<div class="main-content" *ngIf="selectedGroup">
    <!----------- Landing Page / Fallback ----------->
    <ng-container *ngIf="selectedGroup.noContent || !selectedGroup; else customGroup">
        <xiv-landing-page></xiv-landing-page>
    </ng-container>

    <!----------- Custom Component Group ----------->
    <ng-template #customGroup>
        <div
            *ngIf="selectedGroup.component; else tableGroup"
            class="custom-group-component"
        >
            <ng-template anchor></ng-template>
        </div>
    </ng-template>

    <!----------- Summary & Task Table ----------->
    <ng-template #tableGroup>
        <div
            *ngIf="!showAll && selectedGroup.subGroups"
            #groupSummary
            class="group-summary-section"
        >
            <ng-container *ngFor="let subGroup of selectedGroup.subGroups">
                <xiv-summary-line
                    *ngIf="!subGroup.isBookmarkGroup && !subGroup.isCustomGroup"
                    [group]="subGroup"
                ></xiv-summary-line>
            </ng-container>
        </div>

        <div
            *ngIf="isShowAllVisible && !selectedGroup.isBookmarkGroup"
            class="section-actions"
        >
            <p-button
                [label]="(showAll ? 'TABLE.HIDE_ALL' : 'TABLE.SHOW_ALL') | translate"
                (onClick)="toggleShowAll()"
            ></p-button>
        </div>

        <!----------- Task Tables (show all & base) ----------->
        <ng-container *ngIf="isShowAllVisible && showAll; else baseTable">
            <xiv-show-all-section [group]="selectedGroup"></xiv-show-all-section>
        </ng-container>

        <ng-template #baseTable>
            <xiv-task-table
                *ngIf="selectedGroup.tasks"
                [group]="selectedGroup"
                [tasks]="selectedGroup.tasks"
            ></xiv-task-table>
        </ng-template>
    </ng-template>
</div>

<!-- Forces the table to respect the summary line container's height -->
<!--TODO: screws up table sometimes??? -->
<div [style.height.px]="footerHeight"></div>
