<div class="main-content" *ngIf="selectedGroup">
    <!----------- Landing Page / Fallback ----------->
    <ng-container *ngIf="selectedGroup.noContent || !selectedGroup; else customGroup">
        <xiv-landing-page></xiv-landing-page>
    </ng-container>

    <!----------- Custom Component Group ----------->
    <ng-template #customGroup>
        <div
            *ngIf="selectedGroup.component; else tableGroup"
            class="custom-group-component"
        >
            <ng-template anchor></ng-template>
        </div>
    </ng-template>

    <!----------- Summary & Task Table ----------->
    <ng-template #tableGroup>
        <ng-container *ngIf="!showAll">
            <div *ngIf="selectedGroup.subGroups" class="group-summary-section">
                <xiv-summary-line
                    *ngFor="let subGroup of selectedGroup.subGroups"
                    [group]="subGroup"
                ></xiv-summary-line>
            </div>

            <div class="section-actions" *ngIf="isShowAllVisible">
                <p-button
                    class="xiv-button"
                    [label]="showAll ? 'Hide All Tasks' : 'Show All Tasks'"
                    (onClick)="toggleShowAll()"
                ></p-button>
            </div>
        </ng-container>

        <ng-container *ngIf="showAll">
            <div class="section-actions">
                <p-button
                    class="xiv-button"
                    label="Exit All Task View"
                    (onClick)="toggleShowAll()"
                ></p-button>
            </div>
        </ng-container>

        <!----------- Task Tables (show all & base) ----------->
        <ng-container *ngIf="isShowAllVisible && showAll; else baseTable">
            <xiv-show-all-section [group]="selectedGroup"></xiv-show-all-section>
        </ng-container>

        <ng-template #baseTable>
            <xiv-task-table
                *ngIf="selectedGroup.tasks"
                [group]="selectedGroup"
                [tasks]="selectedGroup.tasks"
            ></xiv-task-table>
        </ng-template>
    </ng-template>
</div>

<!--<div class="container">-->
<!--    <h1 class="title">-->
<!--        {{ 'PAGES.HOME.TITLE' | translate }}-->
<!--    </h1>-->

<!--    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>-->
<!--</div>-->
