@import '../../../styles/colors';

:host {
    display: contents;
}

.main-content {
    height: 100%;
    margin: 10px;

    // For .section-actions position
    position: relative;

    .custom-group-component {
        // Prevent x overflow
        white-space: normal;

        // Scrollbar
        overflow-y: auto;
        height: calc(100vh - 104px);

        // Space on right when viewport is smaller
        padding-right: 10px;
    }

    .group-summary-section {
        // wraps summaries each 3
        display: flex;
        flex-wrap: wrap;
    }

    .section-actions {
        position: absolute;
        right: 100px;
        top: -42px;
    }
}
