@import './sizes';

#app {
    height: 100%;
    width: 100%;
    min-width: calc(#{$nav-drawer-width} + #{$main-view-min-width});

    overflow: hidden;
    white-space: nowrap;

    display: flex;
    flex-direction: row;

    #loading-modal {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 99999;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        padding-top: $main-menu-button-height;
        width: $nav-drawer-width;
    }

    .right-container {
        display: flex;
        flex-direction: column;

        width: calc(100% - #{$nav-drawer-width});
        height: 100%;
    }
}
