#app {
    $left-container-size: 250px;

    height: 100%;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;

    display: flex;
    flex-direction: row;

    #loading-modal {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 99999;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        padding-top: 33px;
        width: $left-container-size;
    }

    .right-container {
        display: flex;
        flex-direction: column;

        width: calc(100% - #{$left-container-size});
        height: 100%;
    }
}
