@import './sizes';

#app {
    height: 100%;
    width: 100%;
    min-width: calc(#{$nav-drawer-width} + #{$main-view-min-width});

    overflow: hidden;
    white-space: nowrap;

    display: flex;
    flex-direction: row;

    #loading-modal {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 99999;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        box-shadow: 3px 0 0 rgba(0, 0, 0, 20%);
        padding-top: $main-menu-button-height;
        padding-bottom: $version-height;
        width: $nav-drawer-width;

        .version {
            box-shadow: 0 -5px 0 rgba(0, 0, 0, 20%);
            height: $version-height - 4px;
            padding: var(--content-padding);
            user-select: none;
        }
    }

    .right-container {
        display: flex;
        flex-direction: column;

        width: calc(100% - #{$nav-drawer-width});
        height: 100%;
    }
}

:host {
    ::ng-deep .p-toast-message-content {
        background: var(--surface-f);

        .p-toast-icon-close {
            color: var(--text-color);
        }
    }
}
