@import 'src/styles/colors';

:host {
    display: contents;

    .completion-flag-cell {
        color: black;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        width: 30px;

        &:hover {
            border: 1px solid white;
            border-left: none;
            border-right: none;
        }

        &.completion-flag-cell-Y {
            background-color: var(--completed);
        }

        &.completion-flag-cell-N {
            background-color: var(--incomplete);
        }

        &.completion-flag-cell-X {
            background-color: var(--excluded);
        }
    }
}
