<div class="links-cell">
    <ng-container
        *ngTemplateOutlet="links.length < 2 ? singleValue : multiValue"
    ></ng-container>
</div>

<!-- One Value -->
<ng-template #singleValue>
    <ng-container *ngIf="links[0]">
        <ng-container
            *ngTemplateOutlet="valueTemplate; context: { $implicit: links[0] }"
        ></ng-container>
    </ng-container>
</ng-template>

<!-- Multiple Values, use button & overlay -->
<ng-template #multiValue>
    <p-button
        class="noSelect"
        styleClass="p-button-link"
        label="{{'TABLE.VIEW_LINKS' | translate}} ({{links.length}})"
        (mouseenter)="linkOverlay.show($event)"
        (mouseleave)="onMultiLinkLeave()"
        (onClick)="onLockOverlayClick()"
    ></p-button>

    <p-overlayPanel
        #linkOverlay
        styleClass="link-overlay"
    >
        <ng-template pTemplate="content">
            <div
                class="overlay-container"
                (mouseleave)="onOverlayLeave()"
            >
                <ng-container *ngFor="let link of links">
                    <ng-container *ngTemplateOutlet="
                        valueTemplate;
                        context: { $implicit: link }
                    "></ng-container>
                </ng-container>
            </div>
        </ng-template>
    </p-overlayPanel>
</ng-template>

<!-- Value Branch -->
<ng-template #valueTemplate let-link>
    <ng-container
        *ngTemplateOutlet="
            link.type === 'Value' ? rawTextTemplate : linkTemplate;
            context: { $implicit: link }
        "
    ></ng-container>
</ng-template>

<!-- Raw Text -->
<ng-template #rawTextTemplate let-link>
    <xiv-data-cell [value]="link.value"></xiv-data-cell>
</ng-template>

<!-- Content Link -->
<ng-template #linkTemplate let-link>
    <ng-container
        *ngTemplateOutlet="link.type === 'Group' ? groupLink : taskLink"
    ></ng-container>

    <ng-template #groupLink>
        <xiv-content-link
            [content]="link.value"
        ></xiv-content-link>
    </ng-template>

    <ng-template #taskLink>
        <xiv-content-link
            [content]="link.value"
            [nameOnly]="true"
        ></xiv-content-link>
    </ng-template>
</ng-template>
