:host, ::ng-deep .link-overlay {
    // Make xiv-data-cell mimic the spacing of p-button-link
    ::ng-deep .data-cell {
        padding: calc(var(--content-padding) * .75) var(--content-padding);
    }

    p-button {
        display: block;
    }
}

::ng-deep .link-overlay {
    &.p-overlaypanel-flipped {
        margin-top: -20px;
    }

    // Remove the overlay arrow
    &:before, &:after {
        display: none;
    }

    // Give the container primeNgs wrapper padding
    .overlay-container {
        margin: calc(var(--content-padding) * -1);
        padding: var(--content-padding);
    }
}
