<div class="links-cell">
    <ng-container
        *ngTemplateOutlet="links.length < 2 ? singleValue : multiValue"
    ></ng-container>
</div>

<!-- One Value -->
<ng-template #singleValue>
    <ng-container *ngIf="links[0]">
        <ng-container
            *ngTemplateOutlet="value; context: { $implicit: links[0] }"
        ></ng-container>
    </ng-container>
</ng-template>

<!-- Multiple Values, use button & overlay -->
<ng-template #multiValue>
    <p-button
        class="noSelect"
        styleClass="p-button-link"
        label="{{'TABLE.VIEW_LINKS' | translate}} ({{links.length}})"
        (mouseenter)="linkOverlay.show($event)"
        (mouseleave)="onMultiLinkLeave()"
        (onClick)="onLockOverlayClick()"
    ></p-button>

    <p-overlayPanel
        #linkOverlay
        styleClass="link-overlay"
    >
        <ng-template pTemplate="content">
            <div
                class="overlay-container"
                (mouseleave)="onOverlayLeave()"
            >
                <ng-container *ngFor="let linkValue of links">
                    <ng-container
                        *ngTemplateOutlet="value; context: { $implicit: linkValue }"
                    ></ng-container>
                </ng-container>
            </div>
        </ng-template>
    </p-overlayPanel>
</ng-template>

<!-- Value Branch -->
<ng-template #value let-value>
    <ng-container
        *ngTemplateOutlet="
            value?.toUpperCase ? rawTextTemplate : linkTemplate;
            context: { $implicit: value }
        "
    ></ng-container>
</ng-template>

<!-- Raw Text -->
<ng-template #rawTextTemplate let-task>
    <xiv-data-cell [value]="task"></xiv-data-cell>
</ng-template>

<!-- Task Link -->
<ng-template #linkTemplate let-data>
    <p-button
        class="noSelect"
        styleClass="p-button-link"
        tooltipPosition="bottom"
        [pTooltip]="
            ('GENERAL.NAVIGATE' | translate) + '\n' +
            (data | contentLink:data?._parent)
        "
        [label]="data | contentLink"
        (onClick)="onClickLink(data)"
    ></p-button>
</ng-template>
