// Declare styles for all guide pages
.guide ::ng-deep {
    .section {
        margin-bottom: 15px;

        .header {
            font-size: calc(var(--font-size) * 1.5);
            font-weight: bold;
            text-decoration: underline;
            padding-bottom: 5px;
        }
    }
}
