<div class="setting">
    <label>{{'APP.SETTING.THEME.PRESETS.TITLE' | translate}}</label>
    <p-button-group>
        <button pButton (click)="useDefaultTheme()">
            {{'APP.SETTING.THEME.PRESETS.DEFAULT' | translate}}
        </button>

        <button pButton (click)="useDarkTheme()">
            {{'APP.SETTING.THEME.PRESETS.DARK' | translate}}
        </button>

        <button pButton (click)="useLightTheme()">
            {{'APP.SETTING.THEME.PRESETS.LIGHT' | translate}}
        </button>

        <button pButton (click)="useClassicTheme()">
            {{'APP.SETTING.THEME.PRESETS.CLASSIC' | translate}}
        </button>
    </p-button-group>
</div>

<div class="setting">
    <label>{{'APP.SETTING.THEME.FONT' | translate}}</label>
    <input
        pInputText
        [(ngModel)]="svcTheme.fontFamily"
        (change)="svcTheme.setFontFamily(svcTheme.fontFamily)"
    />
</div>

<div class="setting">
    <label>{{'APP.SETTING.THEME.FONT_SIZE.LABEL' | translate}}</label>

    <div
        class="font-size-controls"
        [pTooltip]="'APP.SETTING.THEME.FONT_SIZE.TOOLTIP' | translate"
        tooltipPosition="right"
    >
        <p-input-number
            [(ngModel)]="svcTheme.fontSize"
            [showButtons]="true"
            [min]="8"
            [max]="24"
            (onBlur)="svcTheme.setFontSize(svcTheme.fontSize)"
        ></p-input-number>

        <button
            pButton
            class="reset-font-size"
            (click)="resetFontSize()"
        >
            <span class="mi mi-restart-alt"></span>
        </button>
    </div>
</div>

<div class="setting-line">
    <label>{{'APP.SETTING.THEME.PRIMARY_COLOR' | translate}}</label>

    <p-color-picker
        [(ngModel)]="svcTheme.primaryColor"
        (onChange)="svcTheme.setPrimaryColor(svcTheme.primaryColor)"
    ></p-color-picker>

    <p-color-picker
        [(ngModel)]="svcTheme.primaryTextColor"
        (onChange)="svcTheme.setPrimaryTextColor(svcTheme.primaryTextColor)"
    ></p-color-picker>

    <label>{{'APP.SETTING.THEME.PRIMARY_TEXT' | translate}}</label>
</div>

<div class="setting-line">
    <label>{{'APP.SETTING.THEME.BACKGROUND' | translate}}</label>

    <p-color-picker
        format="hsb"
        [(ngModel)]="svcTheme.backgroundColorHsb"
        (onChange)="svcTheme.setBackgroundColorFromHsb(svcTheme.backgroundColorHsb)"
    ></p-color-picker>

    <p-color-picker
        format="rgb"
        [(ngModel)]="svcTheme.textColor"
        (onChange)="svcTheme.setTextColor(svcTheme.textColor)"
    ></p-color-picker>

    <label>{{'APP.SETTING.THEME.TEXT_COLOR' | translate}}</label>
</div>

<div class="completion-line">
    <label>{{'APP.SETTING.THEME.COMPLETION' | translate}}</label>

    <div class="settings">
        <div class="gradient-steps">
            @for(gradientStep of gradients; track gradientStep) {
                <div
                    class="gradient-step"
                    [style.background-color]="gradientStep"
                ></div>
            }
        </div>

        <div class="color-pickers">
            <span>
                <i class="i-incomplete"></i>
                <p-color-picker
                    format="rgb"
                    [(ngModel)]="svcTheme.incompleteColor"
                    (onChange)="setIncompleteColor()"
                ></p-color-picker>
                <button pButton (click)="resetIncompleteColor()">
                    <span class="mi mi-restart-alt"></span>
                </button>
            </span>

            <span>
                <p-color-picker
                    format="rgb"
                    [(ngModel)]="svcTheme.partialCompleteColor"
                    (onChange)="setPartialCompleteColor()"
                ></p-color-picker>
                <button pButton (click)="resetPartialCompleteColor()">
                    <span class="mi mi-restart-alt"></span>
                </button>
            </span>

            <span>
                <i class="i-complete"></i>
                <p-color-picker
                    format="rgb"
                    [(ngModel)]="svcTheme.completeColor"
                    (onChange)="setCompleteColor()"
                ></p-color-picker>
                <button pButton (click)="resetCompleteColor()">
                    <span class="mi mi-restart-alt"></span>
                </button>
            </span>

            <span>
                <i class="i-exclude"></i>
                <p-color-picker
                    format="rgb"
                    [(ngModel)]="svcTheme.excludedColor"
                    (onChange)="svcTheme.setExcludedColor(svcTheme.excludedColor)"
                ></p-color-picker>
                <button pButton (click)="resetExcludedColor()">
                    <span class="mi mi-restart-alt"></span>
                </button>
            </span>
        </div>
    </div>
</div>
