<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-link"
        [ngClass]="{ 'do-notify': doNotify }"
    ></p-button>

    <div *ngIf="isVisible" class="overlay-panel">
        <!-- Dropdown Content Body with no Data -->
        <div *ngIf="!chainStart" class="content">
            <p-button label="No chain information to display"></p-button>
        </div>

        <!-- Dropdown Content Body with Data -->
        <span *ngIf="chainStart" class="content">
            <!-- Undo Button -->
            <p-button
                *ngIf="!chainStart.historyDisabled"
                [label]="!undoVerified ? 'Undo This Chain' : 'Are you sure?'"
                (onClick)="onUndoLastChain()"
            ></p-button>

            <!-- Recent Action Info -->
            <span class="p-buttonset chain-start">
                <p-button
                    styleClass="path"
                    [disabled]="true"
                >
                    <ng-template pTemplate="content">
                        <div>{{chainStart.path}}</div>
                        <div>
                            Marking "{{chainStart.task.name}}"&nbsp;
                            as "<span [ngClass]="[chainStart.toFlag]">{{chainStart.toFlag}}</span>"&nbsp;
                            chained to {{chainedTaskCount}} other items
                        </div>
                    </ng-template>
                </p-button>
                <p-button
                    styleClass="nav"
                    icon="material-icons mi-navigate-next"
                    pTooltip="Navigate to this group"
                    tooltipPosition="right"
                    (onClick)="onNavigateToGroup(chainStart.path)"
                ></p-button>
            </span>

            <!-- Chained Groups Scroll Container -->
            <div class="chain-scroll-container">
                <ng-container *ngFor="let group of chainedGroups">
                    <!-- Group header button -->
                    <span class="p-buttonset chain-group">
                        <p-button
                            styleClass="path"
                            (onClick)="onToggleShowChainedGroup(group)"
                        >
                            <ng-template pTemplate="content">
                                {{group.path}} ({{group.tasks.length}})
                            </ng-template>
                        </p-button>
                        <p-button
                            styleClass="nav"
                            icon="material-icons mi-navigate-next"
                            pTooltip="Navigate to this group"
                            tooltipPosition="right"
                            tooltipStyleClass="chain-navigate-tooltip"
                            (onClick)="onNavigateToGroup(group.path)"
                        ></p-button>
                    </span>

                    <!-- Group Content Items -->
                    <ng-container *ngIf="group.show">
                        <ng-container *ngFor="let task of group.tasks">
                            <p-button
                                *ngIf="task.task"
                                class="chained-task"
                                [disabled]="true"
                            >
                                <ng-template pTemplate="content">
                                    <span [ngClass]="task.fromFlag">
                                        {{task.fromFlag}}
                                    </span>
                                    <i class="material-icons mi-arrow-right-alt"></i>
                                    <span [ngClass]="task.task.completionFlag">
                                        {{task.task.completionFlag}}
                                    </span>
                                    <span class="task-name">{{task.task.name}}</span>
                                </ng-template>
                            </p-button>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </span>
    </div>
</span>
