<div class="nav-bar-container">
    <p-buttonGroup>
        <p-button
            icon="material-icons mi-arrow-back"
            [disabled]="!(svcNavigation.groupHistory$ | async).length"
            (onClick)="goBack()"
        ></p-button>

        <p-button
            icon="material-icons mi-arrow-upward"
            [disabled]="!(svcNavigation.selectedGroup$ | async)._parent"
            (onClick)="goToParent()"
        ></p-button>

        <xiv-history-overlay></xiv-history-overlay>
        <xiv-show-all></xiv-show-all>
    </p-buttonGroup>

    <xiv-breadcrumbs></xiv-breadcrumbs>
</div>
