<div class="nav-bar-container">
    <span class="p-buttonset">
        <p-button
            icon="material-icons mi-arrow-back"
            [disabled]="!(svcNavigation.groupHistory$ | async).length"
            (onClick)="svcNavigation.goToHistory(svcNavigation.groupHistory$.value[0])"
        ></p-button>

        <p-button
            icon="material-icons mi-arrow-upward"
            [disabled]="!(svcNavigation.selectedGroup$ | async)._parent"
            (onClick)="goToParent()"
        ></p-button>

        <xiv-history-overlay></xiv-history-overlay>
        <xiv-show-all></xiv-show-all>
    </span>

    <xiv-breadcrumbs></xiv-breadcrumbs>
</div>
