.nav-bar-container {
    display: flex;
    margin: 0 10px;

    ::ng-deep {
        // Consistent and smaller button size
        .p-button {
            height: 100%;
            width: 34px;
        }
    }
}
