$header-height: 50px;

.patch-view-header {
    height: $header-height;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: var(--content-padding);
    padding-bottom: var(--content-padding);
}

::ng-deep .patch-dropdown {
    width: 100px;
}

.patch-results-table {
    height: calc(100% - $header-height);

    td {
        padding: 0;
    }

    ::ng-deep {
        // Make the first column in headers, groups, and tasks 100px wide
        .p-datatable-thead, .p-datatable-tbody, .p-rowgroup-header {
            tr > :first-child {
                &, th, td {
                    flex-grow: 0;
                    flex-basis: 100px;
                    justify-content: center;
                }
            }
        }
    }
}
