<div class="task-table-toolbar">
    <p-buttonGroup>
        <ng-container *ngIf="totalTasks">
            <xiv-quick-mark-overlay
                [tasks]="tasks"
                (onMark)="onDataChange.emit()"
            ></xiv-quick-mark-overlay>

            <xiv-selection-overlay
                [group]="group"
                [tasks]="tasks"
            ></xiv-selection-overlay>

            <xiv-chain-overlay
                [disableUndo]="group.isCustomGroup"
            ></xiv-chain-overlay>

            <xiv-table-action-overlay
                [group]="group"
                [tasks]="tasks"
            ></xiv-table-action-overlay>
        </ng-container>

        <xiv-custom-task-overlay
            *ngIf="group.isCustomGroup"
            [tasks]="tasks"
        ></xiv-custom-task-overlay>
    </p-buttonGroup>

    <span
        *ngIf="totalTasks"
        class="row-count"
        tooltipPosition="bottom"
        pTooltip="{{totalTasks - tasks.length}} {{'TABLE.HIDDEN' | translate}}"
    >
        {{tasks.length}} {{'TABLE.DISPLAYED' | translate}}
    </span>
</div>
