<div class="breadcrumbs-container">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
        <span
            class="breadcrumb"
            (click)="onItemClick(breadcrumb)"
        >
            {{breadcrumb.label}}
        </span>

        <ng-container *ngIf="i < breadcrumbs.length - 1">
            <div
                class="breadcrumb-group-arrow pi"
                [ngClass]="breadcrumb.isGroupExpanded ? 'pi-chevron-down' : 'pi-chevron-right'"
                (click)="onArrowClick(breadcrumb); op.toggle($event)"
            ></div>
        </ng-container>
    </ng-container>
</div>

<p-overlayPanel
    #op
    styleClass="breadcrumb-overlay-panel"
    (onHide)="onPanelHide()"
>
    <ng-container *ngIf="selectedCrumb">
        <ng-container *ngFor="let kv of selectedCrumb.group.subGroups | keyvalue: asIsOrder">
            <div (click)="op.hide()">
                <xiv-content-link [content]="kv.value" [nameOnly]="true"></xiv-content-link>
            </div>
        </ng-container>
    </ng-container>
</p-overlayPanel>
