<span
    data-active-help="APP.ACTIVE_HELP.CHAIN_OVERLAY"
    class="overlay-container"
>
    <button
        pButton
        [class]="overlayButtonClass"
        [ngClass]="{ 'do-notify': doNotify() }"
        (click)="onOverlayButtonClick()"
    >
        <span class="mi mi-link"></span>
    </button>

    @if(doNotify()) {
        <p-badge value="{{svcChain.chainedTaskCount()}}"></p-badge>
    }

    @if(isOverlayVisible()) {
        <div class="overlay-panel">
            <!-- Dropdown Content Body with no Data -->
            @let chainStart = svcChain.chainStart();

            @if(!chainStart) {
                <div class="content">
                    <button pButton>
                        {{'APP.CHAIN_OVERLAY.NO_CONTENT' | translate}}
                    </button>
                </div>
            } @else {
                <!-- Dropdown Content Body with Data -->
                <span class="content">
                    <!-- Undo Button -->
                    @if(!chainStart.historyDisabled) {
                        <button
                            data-active-help="APP.ACTIVE_HELP.CHAIN_OVERLAY.UNDO"
                            pButton
                            class="undo-button"
                            (click)="onUndoLastChain()"
                        >
                            {{(!undoVerified() ? 'APP.CHAIN_OVERLAY.UNDO' : 'APP.CHAIN_OVERLAY.VERIFY') | translate}}
                        </button>
                    }

                    <!-- Recent Action Info -->
                    <span
                        data-active-help="APP.ACTIVE_HELP.CHAIN_OVERLAY.CHAIN_START"
                        class="chain-start"
                    >
                        <div class="summary">
                            <div>{{chainStart.path}}</div>
                            <div class="task">
                                <span [ngClass]="[chainStart.fromFlag]">{{chainStart.fromFlag}}</span>
                                <i class="mi mi-arrow-right-alt"></i>
                                <span [ngClass]="[chainStart.toFlag]">{{chainStart.toFlag}}</span>
                                <span>&nbsp;"{{chainStart.task.name}}"&nbsp;</span>
                                {{'APP.CHAIN_OVERLAY.CHAINED' | translate:({ count: svcChain.chainedTaskCount() })}}
                            </div>
                        </div>

                        <button
                            pButton
                            class="nav"
                            [pTooltip]="'APP.CONTENT_LINK.GROUP_NAVIGATE' | translate"
                            tooltipPosition="right"
                            (click)="onNavigateToGroup(chainStart)"
                        >
                            <span class="mi mi-navigate-next"></span>
                        </button>
                    </span>

                    <!-- Chained Groups Scroll Container -->
                    <div
                        data-active-help="APP.ACTIVE_HELP.CHAIN_OVERLAY.CHAINED_GROUPS"
                        class="chain-scroll-container"
                    >
                        @for(chainedGroup of svcChain.chainedGroups(); track chainedGroup.path) {
                            <!-- Group header button -->
                            <span class="chain-group">
                                @let icon = chainedGroup.show ? 'pi-chevron-down' : 'pi-chevron-right';
                                <button
                                    pButton
                                    class="path"
                                    (click)="onToggleShowChainedGroup(chainedGroup)"
                                >
                                    <span class="pi {{icon}}"></span>
                                    {{`${chainedGroup.path} (${chainedGroup.tasks.length})`}}
                                </button>

                                <button
                                    pButton
                                    class="nav"
                                    [pTooltip]="'APP.CONTENT_LINK.GROUP_NAVIGATE' | translate"
                                    tooltipPosition="right"
                                    tooltipStyleClass="chain-navigate-tooltip"
                                    (click)="onNavigateToGroup(chainedGroup)"
                                >
                                    <span class="mi mi-navigate-next"></span>
                                </button>
                            </span>

                            <!-- Group Content Items -->
                            @if(chainedGroup.show) {
                                @for(chainedTask of chainedGroup.tasks; track chainedTask.task.fullStorageKey) {
                                    @if(chainedTask.task) {
                                        <div class="chained-task">
                                            <span [ngClass]="chainedTask.fromFlag">
                                                {{chainedTask.fromFlag}}
                                            </span>

                                            <i class="mi mi-arrow-right-alt"></i>

                                            <span [ngClass]="chainedTask.task.completionFlag$()">
                                                {{chainedTask.task.completionFlag$()}}
                                            </span>

                                            <span class="task-name">
                                                <com-content-link
                                                    [content]="chainedTask.task"
                                                    [nameOnly]="true"
                                                ></com-content-link>
                                            </span>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>

                    <!-- Chain History -->
                    @let chainHistory = svcChain.history.history();
                    @let lastChain = chainHistory[chainHistory.length - 1];

                    <p-divider>
                        {{'APP.CHAIN_OVERLAY.CHAIN_HISTORY' | translate}} {{chainHistory.length}}/{{svcChain.history.historyLimit}}
                        @if(lastChain) {
                            ({{lastChain.chainStart.task.name}} {{'APP.CHAIN_OVERLAY.HISTORY_NOTE' | translate}})
                        }
                    </p-divider>

                    <div
                        data-active-help="APP.ACTIVE_HELP.CHAIN_OVERLAY.CHAIN_HISTORY"
                        class="previous-chain-container"
                    >
                        <div class="previous-chains">
                            @for(historyStep of chainHistory; track historyStep) {
                                <com-content-link
                                    [content]="historyStep.chainStart.task"
                                    [nameOnly]="true"
                                ></com-content-link>
                                <i class="mi mi-arrow-right-alt"></i>
                            }
                        </div>
                    </div>
                </span>
            }
        </div>
    }
</span>
