.patch-notes ::ng-deep {
    p-tablist {
        flex-shrink: 0;
    }

    p-tabpanels {
        flex-grow: 1;
    }

    .patch-details {
        overflow: auto;
    }

    .p-divider {
        margin: 0;
    }

    .update-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        cursor: pointer;
        font-size: calc(var(--font-size) * 1.5);

        &:hover {
            text-shadow: 0 0 10px;
        }

        i {
            background: var(--surface-500);
            border-radius: 50%;
            padding: 2px;
        }
    }

    .update-notes {
        interpolate-size: allow-keywords;
        transition: height 1s;
        overflow: hidden;

        .section {
            margin-bottom: 20px;

            .header {
                font-size: calc(var(--font-size) * 1.2);
                text-decoration: underline;
            }
        }
    }
}
