<p-tabView class="patch-notes">
    <p-tabPanel header="1.0.4">
        <xiv-patch-notes-1-0-4></xiv-patch-notes-1-0-4>
    </p-tabPanel>
    <p-tabPanel header="1.0.3">
        <xiv-patch-notes-1-0-3></xiv-patch-notes-1-0-3>
    </p-tabPanel>
    <p-tabPanel header="1.0.2">
        <xiv-patch-notes-1-0-2></xiv-patch-notes-1-0-2>
    </p-tabPanel>
    <p-tabPanel header="1.0.1">
        <xiv-patch-notes-1-0-1></xiv-patch-notes-1-0-1>
    </p-tabPanel>
    <p-tabPanel header="1.0.0">
        <xiv-patch-notes-1-0-0></xiv-patch-notes-1-0-0>
    </p-tabPanel>
</p-tabView>
