<p-button
    label="FFXIV Completionist"
    class="home-button"
    icon="pi pi-chevron-down"
    (onClick)="onHomeClick()"
></p-button>

<div
    class="search-bar"
    [pTooltip]="svcSearch.searchError$ | async"
>
    <input
        #searchInput
        pInputText
        placeholder="Search"
        [ngClass]="svcSearch.searchStatus$ | async"
        [(ngModel)]="searchTerm"
        (keydown.enter)="searchOnEnter()"
    />

    <p-button
        icon="material-icons mi-search"
        (onClick)="onSearch()"
    ></p-button>
</div>
