:host {
    $size: 34px;
    display: contents;

    .home-button ::ng-deep .p-button {
        position: absolute;
        font-weight: bold;
        border-radius: 0;
        width: 250px;
        height: 25px;
        left: 0;
        top: 0;
    }

    .search-bar {
        position: absolute;
        width: 250px;
        top: 25px;

        // Fixes issue when built where button is offset
        display: flex;

        ::ng-deep .p-inputtext {
            width: calc(250px - #{$size});
            height: $size;
            border-radius: 0;

            &.success {
                box-shadow: inset 0 0 15px var(--completed);
            }

            &.failure {
                box-shadow: inset 0 0 15px var(--incomplete);
            }
        }

        ::ng-deep .p-button {
            border-radius: 0;
            height: $size;
            width: $size;
        }
    }
}
