:host {
    $size: 34px;
    display: contents;

    .home-button ::ng-deep .p-button {
        position: absolute;
        border-radius: 0;
        width: 250px;
        height: 25px;
        left: 0;
        top: 0;
    }

    .search-bar {
        position: absolute;
        width: 250px;
        top: 25px;

        ::ng-deep .p-inputtext {
            width: calc(250px - #{$size});
            height: $size;
            border-radius: 0;

            &.success {
                border-color: var(--completed);
            }

            &.failure {
                border-color: var(--incomplete);
            }
        }

        ::ng-deep .p-button {
            border-radius: 0;
            height: $size;
            width: $size;
        }
    }
}
