<p-button
    [label]="'MAIN.TITLE' | translate"
    class="home-button"
    icon="pi pi-chevron-{{(svcNavigation.selectedGroup$ | async)?.isUiGroup ? 'down' : 'right'}}"
    (onClick)="onHomeClick()"
></p-button>

<div
    class="search-bar"
>
    <input
        #searchInput
        pInputText
        tooltipEvent="focus"
        [pTooltip]="svcSearch.searchError$ | async"
        [placeholder]="'MAIN.SEARCH.PLACEHOLDER' | translate"
        [ngClass]="svcSearch.searchStatus$ | async"
        [(ngModel)]="searchTerm"
        (keydown.enter)="searchOnEnter()"
    />

    <p-button
        icon="material-icons mi-search"
        [pTooltip]="svcSearch.searchError$ | async"
        (onClick)="onSearch()"
    ></p-button>
</div>
