<button
    data-active-help="APP.ACTIVE_HELP.MAIN_MENU"
    pButton
    class="home-button"
    (click)="onHomeClick()"
>
    @let direction = svcNavigation.selectedGroup()?.isUiGroup ? 'down' : 'right';
    <span class="pi pi-chevron-{{direction}}"></span>
    {{'APP.NAME' | translate}}
</button>

<div
    #searchBar
    class="search-bar"
    [pTooltip]="svcSearch.searchError() ?? undefined"
>
    <input
        #searchInput
        data-active-help="APP.ACTIVE_HELP.SEARCH.SEARCH_INPUT"
        pInputText
        [placeholder]="'APP.SEARCH.PLACEHOLDER' | translate"
        [ngClass]="svcSearch.searchStatus()"
        [(ngModel)]="searchTerm"
        (keydown)="onSearchKeydown($event)"
    />

    <button
        data-active-help="APP.ACTIVE_HELP.SEARCH.SEARCH_BUTTON"
        pButton
        (click)="onSearch()"
    >
        <span class="mi mi-search"></span>
    </button>
</div>
