<ng-container
    *ngTemplateOutlet="isGroup ? groupLink : taskLink"
></ng-container>

<ng-template #groupLink>
    <p-button
        class="content-link noSelect"
        styleClass="p-button-link"
        tooltipPosition="bottom"
        [pTooltip]="
            (content | contentLink) + '\n' +
            ('GENERAL.GROUP_NAVIGATE' | translate)
        "
        [label]="content | contentLink:trimGroup:nameOnly"
        (onClick)="onClickLink()"
    ></p-button>
</ng-template>

<ng-template #taskLink>
    <p-button
        class="content-link noSelect"
        styleClass="p-button-link"
        tooltipPosition="bottom"
        [pTooltip]="
            (content._parent | contentLink) + '\n' +
            ('GENERAL.TASK_NAVIGATE' | translate)
        "
        [label]="content | contentLink:trimGroup:nameOnly"
        (onClick)="onClickLink()"
    ></p-button>
</ng-template>
