<tr
    class="group-row"
    pRowGroupHeader
    [pRowToggler]="task"
>
    <td class="collapse-cell">
        @let icon = expanded ? 'pi-chevron-down' : 'pi-chevron-right';
        <button pButton class="p-button-rounded p-button-text">
            <span class="pi {{icon}}"></span>
        </button>
    </td>
    <td class="link-cell">
        <com-content-link [content]="task._parent"></com-content-link>
    </td>

    @for(column of svcTable.group().columns; track column.key) {
        <td></td>
    }
</tr>
