@use "sass:list";
@use "../../_variables";

@layer primeng {
    .p-inputotp {
        display: flex;
        align-items: center;
        gap: var(--inline-spacing);
    }

    .p-inputotp-input {
        text-align: center;
        width: 2 * list.nth(variables.$inputPadding, 2) + 1rem;
    }
}
