@use 'sass:list';
@use "../_mixins";
@use "../../_variables";

@layer primeng {
    .p-multiselect {
        background: variables.$inputBg;
        border: variables.$inputBorder;
        transition: variables.$formElementTransition;
        border-radius: var(--border-radius);

        &:not(.p-disabled):hover {
            border-color: variables.$inputHoverBorderColor;
        }

        &:not(.p-disabled).p-focus {
            @include mixins.focused-input();
        }

        .p-multiselect-label {
            padding: variables.$inputPadding;
            transition: variables.$formElementTransition;

            &.p-placeholder {
                color: variables.$inputPlaceholderTextColor;
            }
        }

        &.p-multiselect-chip {
            .p-multiselect-token {
                padding: list.slash(list.nth(variables.$inputPadding, 1), 2) list.nth(variables.$inputPadding, 2);
                margin-right: var(--inline-spacing);
                background: variables.$chipBg;
                color: variables.$chipTextColor;
                border-radius: variables.$chipBorderRadius;

                .p-multiselect-token-icon {
                    margin-left: var(--inline-spacing);
                }
            }
        }

        .p-multiselect-trigger {
            background: transparent;
            color: variables.$inputIconColor;
            width: variables.$inputGroupAddOnMinWidth;
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

        &.p-variant-filled {
            background: variables.$inputFilledBg;

            &:not(.p-disabled):hover {
                background-color: variables.$inputFilledHoverBg;
            }

            &:not(.p-disabled).p-focus {
                background-color: variables.$inputFilledFocusBg;
            }
        }
    }

    .p-inputwrapper-filled {
        .p-multiselect {
            &.p-multiselect-chip {
                .p-multiselect-label {
                    padding: list.slash(list.nth(variables.$inputPadding, 1), 2) list.nth(variables.$inputPadding, 2);
                }
            }
        }
    }

    .p-multiselect-clearable {
        .p-multiselect-label-container {
            padding-right: list.nth(variables.$inputPadding, 2) + variables.$primeIconFontSize;
        }

        .p-multiselect-clear-icon {
            color: variables.$inputIconColor;
            right: variables.$inputGroupAddOnMinWidth;
        }
    }

    .p-multiselect-panel {
        background: variables.$inputOverlayBg;
        color: variables.$inputListTextColor;
        border: variables.$inputOverlayBorder;
        border-radius: var(--border-radius);
        box-shadow: variables.$inputOverlayShadow;

        .p-multiselect-header {
            padding: variables.$inputListHeaderPadding;
            border-bottom: variables.$inputListHeaderBorder;
            color: variables.$inputListHeaderTextColor;
            background: variables.$inputOverlayHeaderBg;
            margin: variables.$inputListHeaderMargin;
            border-top-right-radius: var(--border-radius);
            border-top-left-radius: var(--border-radius);

            .p-multiselect-filter-container {
                .p-inputtext {
                    padding-right: list.nth(variables.$inputPadding, 2) + variables.$primeIconFontSize;
                }

                .p-multiselect-filter-icon {
                    right: list.nth(variables.$inputPadding, 2);
                    color: variables.$inputIconColor;
                }
            }

            .p-checkbox {
                margin-right: var(--inline-spacing);
            }

            .p-multiselect-close {
                margin-left: var(--inline-spacing);
                @include mixins.action-icon();
            }
        }

        .p-multiselect-items {
            padding: variables.$inputListPadding;

            .p-multiselect-item {
                margin: variables.$inputListItemMargin;
                padding: variables.$inputListItemPadding;
                border: variables.$inputListItemBorder;
                color: variables.$inputListItemTextColor;
                background: variables.$inputListItemBg;
                transition: variables.$listItemTransition;
                border-radius: variables.$inputListItemBorderRadius;

                &:first-child {
                    margin-top: 0;
                }

                &.p-highlight {
                    color: variables.$highlightTextColor;
                    background: variables.$highlightBg;

                    &.p-focus {
                        background: variables.$highlightFocusBg;
                    }
                }

                &:not(.p-highlight):not(.p-disabled) {
                    &.p-focus {
                        color: variables.$inputListItemTextFocusColor;
                        background: variables.$inputListItemHoverBg;
                    }

                    &:hover {
                        color: variables.$inputListItemTextHoverColor;
                        background: variables.$inputListItemHoverBg;
                    }
                }

                .p-checkbox {
                    margin-right: var(--inline-spacing);
                }
            }

            .p-multiselect-item-group {
                margin: variables.$submenuHeaderMargin;
                padding: variables.$submenuHeaderPadding;
                color: variables.$submenuHeaderTextColor;
                background: variables.$submenuHeaderBg;
                font-weight: variables.$submenuHeaderFontWeight;
            }

            .p-multiselect-empty-message {
                padding: variables.$inputListItemPadding;
                color: variables.$inputListItemTextColor;
                background: variables.$inputListItemBg;
            }
        }
    }

    .p-input-filled {
        .p-multiselect {
            background: variables.$inputFilledBg;

            &:not(.p-disabled):hover {
                background-color: variables.$inputFilledHoverBg;
            }

            &:not(.p-disabled).p-focus {
                background-color: variables.$inputFilledFocusBg;
            }
        }

    }

    p-multiselect.ng-dirty.ng-invalid > .p-multiselect {
        @include mixins.invalid-input();
    }
}
