<div class="settings-page">
    <p-tabView>
        <p-tabPanel header="Character">
            <xiv-character-settings
                #characterSettings
                [settings]="settings"
            ></xiv-character-settings>
        </p-tabPanel>

        <p-tabPanel header="Theme">
            <xiv-theme-settings
                [settings]="settings"
            ></xiv-theme-settings>
        </p-tabPanel>

        <p-tabPanel header="Table">
            <xiv-table-settings
                [settings]="settings"
            ></xiv-table-settings>
        </p-tabPanel>

        <p-tabPanel header="Chaining">
            <xiv-chain-settings
                [settings]="settings"
            ></xiv-chain-settings>
        </p-tabPanel>
    </p-tabView>
</div>
