.chain-analysis {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .header {
        padding-bottom: var(--content-padding);
        display: flex;
        align-items: center;
        gap: var(--content-padding);
    }

    .issue-table {
        height: 100%;

        td {
            padding: 0;
        }

        .issue-description {
            padding: 0 10px;
            text-align: center;
            white-space: nowrap;
        }

        ::ng-deep {
            // Make the first column in headers, groups, and tasks 100px wide
            .p-datatable-thead, .p-datatable-tbody, .p-rowgroup-header {
                tr > :first-child {
                    &, th, td {
                        flex-grow: 0;
                        flex-basis: 100px;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
