@import './sizes';

.nav-drawer {
    display: inline-block;

    height: 100%;
    width: $nav-drawer-width;

    overflow-x: hidden;

    ::ng-deep .p-panelmenu {
        .p-panelmenu-panel {
            padding-top: 2px;

            // Hide main menu's expand icon so its not visible behind the search button
            &:first-child .p-panelmenu-header .p-panelmenu-icon {
                display: none;
            }

            // Create space between user groups and main data groups
            &:nth-child(3) {
                margin-bottom: 10px;

                .p-panelmenu-header {
                    box-shadow: 0 10px 0 1px rgba(0 0 0 / 33%);
                }
            }
        }

        .p-menuitem {
            // Make each item more distinct
            box-shadow: inset 1px -1px 0px 0px var(--primary-color);
        }

        .p-panelmenu-header-link, .p-menuitem-link {
            // Reduce default padding
            padding: 5px;
        }

        .p-panelmenu-header-link {
            // Fix for primary showing through on the bottom link
            border-radius: 0;
        }
    }
}
