<div class="nav-bar-container">
    <p-button-group>
        <button
            data-active-help="APP.ACTIVE_HELP.NAV_BAR.PREVIOUS_GROUP"
            pButton
            [disabled]="!svcNavigation.groupHistory().length"
            (click)="goBack()"
        >
            <span class="mi mi-arrow-back"></span>
        </button>

        <button
            data-active-help="APP.ACTIVE_HELP.NAV_BAR.GO_TO_PARENT"
            pButton
            [disabled]="!svcNavigation.selectedGroup()?._parent"
            (click)="goToParent()"
        >
            <span class="mi mi-arrow-upward"></span>
        </button>

        <com-history-overlay></com-history-overlay>
        <com-show-all-toggle></com-show-all-toggle>
    </p-button-group>

    <com-breadcrumbs></com-breadcrumbs>
</div>
