.nav-bar-container {
    display: flex;
    margin: 0 10px;

    // Make pretty border radius for nav buttons
    ::ng-deep > p-button-group > .p-buttongroup {
        // Remove all top level border radii from buttons
        > .p-button, > * > .p-button {
            border-radius: 0;
        }

        // Reapply to just the first's left
        >:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        // Consistent and smaller button size
        > .p-button,
        > :not(.p-button) > .p-button,
        > :not(.p-button) > :not(.p-button) > .p-button
        {
            height: 100%;
            width: 34px;
        }
    }
}
