<div class="section">
    <div class="header">{{'MAIN.GUIDE.COMPLETION.MARKING.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.MARKING.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.MARKING.L2' | translate}}</div>
    <ul>
        <li>
            {{'MAIN.GUIDE.COMPLETION.MARKING.L3' | translate}}
            <ul>
                <li>{{'MAIN.GUIDE.COMPLETION.MARKING.L31' | translate}}</li>
                <li>{{'MAIN.GUIDE.COMPLETION.MARKING.L32' | translate}}</li>
                <li>{{'MAIN.GUIDE.COMPLETION.MARKING.L33' | translate}}</li>
            </ul>
        </li>
        <li>{{'MAIN.GUIDE.COMPLETION.MARKING.L4' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.COMPLETION.NUMERIC.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.NUMERIC.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.NUMERIC.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.NUMERIC.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.NUMERIC.L4' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.NUMERIC.L5' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.COMPLETION.QUICK_MARK.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.QUICK_MARK.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.QUICK_MARK.L2' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.COMPLETION.CALCULATIONS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.CALCULATIONS.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.CALCULATIONS.L2' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.CALCULATIONS.L3' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.CALCULATIONS.L4' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.CALCULATIONS.L5' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.COMPLETION.STATISTICS.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.STATISTICS.L1' | translate}}</div>
</div>

<div class="section">
    <div class="header">{{'MAIN.GUIDE.COMPLETION.SAVING.TITLE' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.SAVING.L1' | translate}}</div>
    <div>{{'MAIN.GUIDE.COMPLETION.SAVING.L2' | translate}}</div>
    <ul>
        <li>{{'MAIN.GUIDE.COMPLETION.SAVING.L3' | translate}}</li>
    </ul>
</div>
