.settings-page {
    ::ng-deep .setting {
        display: flex;
        align-items: center;
        height: 38px;

        &.bool {
            width: 250px;
        }

        &.number {
            width: 300px;
        }

        label:first-child {
            display: inline-block;
            padding-right: 10px;
            text-align: right;
            width: 200px;
        }

        .p-dropdown {
            align-items: center;
            height: 38px;
            width: 150px;
        }

        .p-inputnumber input {
            width: 60px;
        }
    }
}
