.settings-page {
    // Ensure the chain overlay has room to display
    min-height: 650px;

    .setting {
        display: flex;
        align-items: center;
        height: 38px;

        &.bool {
            width: 200px;
        }

        &.number {
            width: 300px;
        }

        label:first-child {
            display: inline-block;
            padding-right: 10px;
            text-align: right;
            width: 175px;
        }

        ::ng-deep .p-inputnumber input {
            width: 60px;
        }

        &.starting-class {
            width: 375px;

            ::ng-deep .p-dropdown {
                height: 38px;
                width: 150px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            ::ng-deep .overlay-container {
                .overlay-panel {
                    left: -185px;
                }

                .p-button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}
