$setting-height: 40px;

.settings-page {
    ::ng-deep .setting {
        display: flex;
        align-items: center;
        margin: 4px 0;
        height: $setting-height;

        &.bool {
            width: 250px;
        }

        &.number {
            width: 300px;
        }

        label:first-child {
            display: inline-block;
            padding-right: 10px;
            text-align: right;
            width: 200px;
        }

        .p-button:not(.p-inputnumber-button) {
            height: $setting-height;
        }

        .p-dropdown {
            align-items: center;
            height: $setting-height;
            width: 150px;
        }

        .p-inputnumber input {
            height: $setting-height;
            width: 60px;
        }
    }
}
