<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        [styleClass]="isLocked ? '' : 'p-button-outlined'"
        icon="mi mi-tune"
        (onClick)="onClick()"
    ></p-button>

    <div *ngIf="isVisible" class="overlay-panel">
        <span class="content">
            <p-button
                [label]="'OVERLAY.TABLE.TITLE' | translate"
                [disabled]="true"
            ></p-button>

            <p-button
                *ngIf="!group.isBookmarkGroup && !group.isCustomGroup"
                [label]="(isBookmarked ? 'OVERLAY.TABLE.REM_BOOKMARK' : 'OVERLAY.TABLE.ADD_BOOKMARK') | translate"
                [icon]="'material-icons ' + (isBookmarked ? 'mi-bookmark-remove' : 'mi-bookmark-add')"
                (onClick)="bookmarkGroup()"
            ></p-button>

            <p-button
                *ngIf="isAdmin"
                [label]="'OVERLAY.TABLE.COPY_DATA' | translate"
                icon="material-icons mi-file-copy"
                (onClick)="copyData()"
            ></p-button>

            <p-button
                *ngIf="showAddTask"
                label="Add Task"
                icon="mi mi-add"
                (onClick)="onAddTaskClick()"
            ></p-button>
        </span>
    </div>
</span>

<xiv-add-task-dialog
    *ngIf="showAddTask"
    [(visible)]="isAddTaskVisible"
    [group]="group"
></xiv-add-task-dialog>
