/*---------------------- Element Styles ----------------------*/
body {
	background-color: #8696a5;
	margin: 0;
}

button {
	user-select: none;
}

/*----------------------  ----------------------*/
#app {
	display: grid;
	grid-template-columns: 10fr 90fr;
	grid-template-rows: 10fr 2fr 88fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

	height: 100%;
	width: 100%;

	white-space: nowrap;
}

/*---------------------- Navigation Bar ----------------------*/
#nav-bar {
	grid-area: 1 / 1 / 4 / 2;
	background-color: #fef2cb;

	margin: 50px 0;
	padding: 10px 0px;

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav-bar-group-container .nav-bar-button {

}

.nav-bar-sub-group-container .nav-bar-button {
	filter: brightness(80%);
	padding-left: 15px;
}

.nav-bar-sub-sub-group-container .nav-bar-button {
	filter: brightness(60%);
	padding-left: 30px;
}

/* nav button */
.nav-bar-button {
	background-color: #fef2cb;
	border-bottom: 1px solid;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	user-select: none;
}

.nav-bar-button:hover {
	background-color: #9b8cac;
	cursor: pointer;
}

.nav-bar-button:active {
	background-color: #5e447b;
}

/*---------------------- Status Bar ----------------------*/
#stat-bar {
	grid-area: 1 / 2 / 2 / 3;
}

/*---------------------- Bread Crumbs ----------------------*/
#breadcrumbs {
	grid-area: 2 / 2 / 3 / 3;
	border-bottom: 1px solid;
}

/*---------------------- Item List ----------------------*/
#item-container {
	grid-area: 3 / 2 / 4 / 3;
	margin: 20px;
	margin-top: 0;
	overflow-y: scroll;
}

.task-column-completed {
	cursor: pointer;
	text-align: center;
	user-select: none;
}

.task-column-completed-y {
	background-color: #6aa84f;
}

.task-column-completed-n {
	background-color: #e06666;
}

.task-column-completed-x {
	background-color: #cccccc;
}


#tbl-name, #tbl-description {
	text-align: center;
}

th, td{
	border: 1px solid black;
}