<div class="search-data-container">
    <div class="section-container">
        <ul>
            <li>This search is case insensitive and returns partial results</li>
            <li>It ignores any character other than letters and numbers</li>
            <li>Requires at least 3 characters to run</li>
            <li>Click on the result row to jump to that section</li>
        </ul>
    </div>

    <div *ngIf="(svcSearch.searchStatus$ | async) === Status.Success" class="results">
        <p-table [value]="svcSearch.searchMatches$ | async">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{(svcSearch.searchMatches$ | async).length}} Match/es</th>
                    <th pSortableColumn="path">
                        Group
                        <p-sortIcon field="path"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-match>
                <tr>
                    <td>{{match.matchesString}}</td>
                    <td>
                        <p-button
                            styleClass="p-button-info p-button-text"
                            pTooltip="Navigate to this group"
                            tooltipPosition="left"
                            [label]="match.path"
                            (onClick)="onJumpToGroup(match)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
