<div class="search-container">
    @if(svcSearch.searchError()) {
        <span>{{svcSearch.searchError()}}</span>
    }
    @else if(!taskMatches() && !groupMatches()) {
        <span>{{'APP.SEARCH.NO_SEARCH' | translate}}</span>
    }

    @if(svcSearch.searchStatus() === Status.Success) {
        <p-tabs [value]="taskMatches() ? 'taskResults' : 'taskResults'">
            <p-tablist>
                <p-tab value="taskResults">
                    {{'APP.SEARCH.TASK_TAB' | translate}} ({{taskMatches()}})
                </p-tab>
                <p-tab value="groupResults">
                    {{'APP.SEARCH.GROUP_TAB' | translate}} ({{groupMatches()}})
                </p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="taskResults">
                    <com-task-search-results></com-task-search-results>
                </p-tabpanel>
                <p-tabpanel value="groupResults">
                    <com-group-search-results></com-group-search-results>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    }
</div>
