@if(task.completionFlag$() !== Completion.X) {
    <td
        data-active-help="APP.ACTIVE_HELP.TABLE.NUMERIC_COMPLETION_CELL"
        class="completion-number-cell noSelect"
        [style.background-color]="task | gradient:task.completionFlag$()"
        [attr.rowspan]="rowSpan"
        [pTooltip]="tooltip"
        tooltipPosition="left"
        (contextmenu)="onExcludeTaskClick($event)"
    >
        <p-input-number
            class="numeric-input"
            [(ngModel)]="value"
            [step]="step"
            [showButtons]="true"
            [minFractionDigits]="task._parent.numericDecimal"
            [maxFractionDigits]="task._parent.numericDecimal"
            (onBlur)="onTaskValueChange()"
        ></p-input-number>

        <span class="percentage">
            {{value() | percentage:task.minValue:task.maxValue}}%
        </span>
    </td>
} @else {
    <td
        data-active-help="APP.ACTIVE_HELP.TABLE.NUMERIC_COMPLETION_CELL"
        class="completion-number-cell excluded noSelect"
        [pTooltip]="task.maxValue | asString"
        tooltipPosition="left"
        (click)="onExcludeTaskClick($event)"
    >
        X
    </td>
}
