$button-size: 25px;

.action {
    background-color: var(--surface-500);
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;

    // Size & Spacing
    height: $button-size;
    width: $button-size;
    font-size: $button-size - 5px;
    margin: 0 5px;

    // Center non-icon actions
    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 3px var(--primary-color);
    }
}
