<div class="section">
    <div class="header">{{'MAIN.NOTES.1_0_0.MANUAL.TITLE' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_0.MANUAL.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.MANUAL.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.MANUAL.L3' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.MANUAL.L4' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.MANUAL.L5' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.NOTES.1_0_0.ADD.TITLE' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L3' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L4' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L5' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L6' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L7' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L8' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L9' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L10' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L11' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L12' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L13' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.ADD.L14' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.NOTES.1_0_0.CHANGE.TITLE' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L3' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L4' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L5' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L6' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L7' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L8' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.CHANGE.L9' | translate}}</li>
    </ul>

    <h3>{{'MAIN.NOTES.1_0_0.PORTABLE.TITLE' | translate}}</h3>
    <ul>
        <li>{{'MAIN.NOTES.1_0_0.PORTABLE.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.PORTABLE.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.PORTABLE.L3' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.PORTABLE.L4' | translate}}</li>
    </ul>
</div>

<div class="section">
    <div class="header">{{'MAIN.NOTES.1_0_0.FIX.TITLE' | translate}}</div>
    <ul>
        <li>{{'MAIN.NOTES.1_0_0.FIX.L1' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.FIX.L2' | translate}}</li>
        <li>{{'MAIN.NOTES.1_0_0.FIX.L3' | translate}}</li>
    </ul>
</div>
