<div class="section">
    <div class="header">Tasks that need manual review</div>
    <ul>
        <li>Vintage Bow - Carpenter Recipe</li>
        <li>Astrolabe - Goldsmith Recipe</li>
        <li>Felt Coif of Gathering - Weaver Recipe</li>
        <li>White Oak Branch - Gathering Log - Logging</li>
    </ul>
</div>

<div class="section">
    <div class="header">Additions</div>
    <ul>
        <li>Updated resources up to FFXIV 6.x</li>
        <li>Added Group & Task Bookmarks</li>
        <li>Added navigation history</li>
        <li>Added sortable columns</li>
        <li>Added row grouping to all task views</li>
        <li>Added virtual scrolling to alleviate slow-rendering tables</li>
        <li>Added ability to hide overall OR selected group summary lines</li>
        <li>Expanded chain history and made the limit a setting</li>
        <li>% a group accounts for of overall completion now displayed in its tooltip</li>
    </ul>
</div>

<div class="section">
    <div class="header">Changes</div>
    <ul>
        <li>Completely overhauled Search</li>
        <li>Condensed row actions into a slide-out menu</li>
        <li>Condensed main menu groups using tabbed UI</li>
        <li>Moved save management and language selection into settings page</li>
        <li>Moved custom task auto-merge into custom task overlay</li>
        <li>Moved "Dev Notes" into "Patch Notes" group</li>
        <li>Changed "Version History" to "Patch Notes"</li>
        <li>Changed custom task reordering to work with row actions menu</li>
    </ul>
</div>

<div class="section">
    <div class="header">Fixes</div>
    <ul>
        <li>Various data corrections</li>
        <li>ShB Trust NPCs now start at 71</li>
    </ul>
</div>
