<div class="section">
    <div class="header">Tasks that need manual review</div>
    <ul>
        <li>Vintage Bow - Carpenter 46-50 Recipe</li>
        <li>Astrolabe - Goldsmith 46-50 Recipe</li>
        <li>Felt Coif of Gathering - Weaver 41-45 Recipe</li>
        <li>White Oak Branch - Gathering Log - Logging</li>
        <li>Any tasks intentionally changed from "Excluded" to "Incomplete"</li>
    </ul>
</div>

<div class="section">
    <div class="header">Additions</div>
    <ul>
        <li>Updated resources up to FFXIV 6.x</li>
        <li>Added basic theme customization</li>
        <li>Added Group & Task Bookmarks</li>
        <li>Added navigation history</li>
        <li>Added sortable columns</li>
        <li>Added group column to all task views</li>
        <li>Added virtual scrolling to prevent slow-rendering tables</li>
        <li>Added ability to hide overall OR selected group summary lines</li>
        <li>Added ability to open config and save folders from settings page</li>
        <li>Added ability to backup config and save files from settings page</li>
        <li>Expanded chain history and made the limit a setting</li>
        <li>% a group accounts for of overall completion now displayed in its tooltip</li>
    </ul>
</div>

<div class="section">
    <div class="header">Changes</div>
    <ul>
        <li>Completely overhauled Search</li>
        <li>Condensed row actions into a slide-out menu</li>
        <li>Condensed main menu groups using tabbed UI</li>
        <li>Moved save management and language selection into settings page</li>
        <li>Moved custom task auto-merge into custom task overlay</li>
        <li>Moved "Dev Notes" into "Patch Notes" group</li>
        <li>Changed "Version History" to "Patch Notes"</li>
        <li>Changed custom task reordering to work with row actions menu</li>
    </ul>

    <h3>App now "Portable" on Windows</h3>
    <ul>
        <li>Changed application to be portable on Windows</li>
        <li>This means old versions can be uninstalled</li>
        <li>Configs are still located in AppData</li>
        <li>This also means the .exe can be moved freely</li>
    </ul>
</div>

<div class="section">
    <div class="header">Fixes</div>
    <ul>
        <li>Various data/chain corrections</li>
        <li>ShB Trust NPCs now start at 71</li>
        <li>Tasks excluded by default no longer show as incomplete</li>
    </ul>
</div>
