<h1>Navigation</h1>
<p>Wild and pure and forever free!</p>

<br/>

<h2>Navigation Pane (that thingy on the left)</h2>
<p>This pane shows all top level groups at all times as well as the home menu (FFXIV Completionist)</p>
<p>When you click one of these groups, all of its sub groups expand while the previously selected group's retracts</p>
<p>You can then continue clicking down through sub groups until you get to what you want to look at</p>

<br/>

<h2>Breadcrumbs (that chain of groups just below the overall completion metric)</h2>
<p>If you want to jump back up to an earlier parent group, you can click on any of these to navigate backwards</p>

<br/>

<h2>Completion Bars (those pretty bars that show up when a group is selected)</h2>
<p>When any group that shows completion bars is selected, you can click on those bars to dive down instead of using the left pane</p>

<br/>

<h2>Search</h2>
<p>The "Search" page under the main menu allows you to search the app for a term</p>
<p>Clicking on a row in the results takes you directly to that section where search found a match</p>

<br/>

<h4>Final Note</h4>
<p>Your currently selected group is saved when closing the app to help you pick up where you left off :D</p>
<p>There is a "Show All Tasks" button for groups that have similar sub groups under them, this will give you a table with all of the items underneath in one big table</p>
