<h1>Other Info</h1>
<p>Sloppy!</p>

<br/>

<h2>Releases</h2>
<p>Release times may vary</p>
<p>Under the home menu there is a version history for the app, each new version will be added here</p>
<p>The version of the app will reflect FFXIV's version in some way e.g. FFXIV 5.3 will correspond to app version 0.5.3</p>

<br/>

<h2>Localization</h2>
<p>Under the "Settings" menu item at the top of the app there is an option to change languages</p>
<p>French localization is a work-in-progress but is nearing completion</p>

<br/>

<h2>Feedback</h2>
<p>Any feedback for the app can be communicated through discord here: https://discord.gg/Hern5M33U2</p>
<p>Feedback can mean a number of things:</p>
<ul>
    <li>Bugs with the app</li>
    <li>Incorrect/misspelled information</li>
    <li>Suggestions</li>
</ul>
<p>Check the "Dev Notes" menu as well to see if your feedback is already mentioned</p>

<br/>

<h4>Final Note</h4>
<p>Thats it! get to marking things off :D</p>
