<h1>Task Table</h1>
<p>Rejoice in the glory of combat!</p>

<br/>

<h2>Search Columns</h2>
<p>At the top of each column is a combo input used to search/filter that column</p>
<p>This input allows free-text, and in certain columns a dropdown of unique values</p>
<p>This search is case-insensitive and matches anywhere within the text for that column</p>

<br/>

<h2>Filtering Completion</h2>
<p>At the top of the completion column are 3 icons that indicate "completed", "not completed", and "excluded"</p>
<p>These can be enabled/disabled separately and their state is saved between tables and reloads</p>
<p>Items in the table that match any enabled icon will be displayed</p>

<br/>

<h2>Select Items</h2>
<p>Clicking on any row will "select" it and turn it a different color</p>
<p>A dropdown above the table allows for a few options with selecting as well</p>
<p>Within the Crafting Log groups, there are options to open all selected recipes in other sites</p>

<br/>

<h2>Links</h2>
<p>To the right of most items is a link to "Gamer Escape" and "Garland Tools"</p>
<p>These links attempt to generate their own url based on the task they're for</p>
<p>If you see a link that doesn't navigate to the correct content, please report it so it can be fixed</p>
