@use 'sass:list';
@use "../_mixins";
@use "../../_variables";

@layer primeng {
    .p-steps {
        .p-steps-item {
            .p-menuitem-link {
                background: transparent;
                transition: variables.$listItemTransition;
                border-radius: var(--border-radius);
                background: variables.$stepsItemBg;

                .p-steps-number {
                    color: variables.$stepsItemNumberColor;
                    border: variables.$stepsItemBorder;
                    background: variables.$stepsItemBg;
                    min-width: variables.$stepsItemNumberWidth;
                    height: variables.$stepsItemNumberHeight;
                    line-height: variables.$stepsItemNumberHeight;
                    font-size: variables.$stepsItemNumberFontSize;
                    z-index: 1;
                    border-radius: variables.$stepsItemNumberBorderRadius;
                }

                .p-steps-title {
                    margin-top: var(--inline-spacing);
                    color: variables.$stepsItemTextColor;
                }

                &:not(.p-disabled):focus-visible {
                    @include mixins.focused();
                }
            }

            &.p-highlight {
                .p-steps-number {
                    background: variables.$highlightBg;
                    color: variables.$highlightTextColor;
                }

                .p-steps-title {
                    font-weight: variables.$stepsItemActiveFontWeight;
                    color: var(--text-color);
                }
            }

            &:before {
                content: ' ';
                border-top: variables.$divider;
                width: 100%;
                top: 50%;
                left: 0;
                display: block;
                position: absolute;
                margin-top: list.slash(-1 * variables.$stepsItemNumberHeight, 2);
            }
        }
    }
}
