
.p-breadcrumb {
    background: var(--surface-a);
    border: 1px solid rgba(var(--text-color-rgb), 0.12);
    border-radius: 4px;
    padding: var(--content-padding);
}

.p-breadcrumb ul li .p-menuitem-link {
    transition: none;
    border-radius: 4px;
}

.p-breadcrumb ul li .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    color: var(--text-color-secondary);
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
    margin: 0 0.5rem 0 0.5rem;
    color: var(--text-color-secondary);
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-breadcrumb ul li:last-child .p-menuitem-icon {
    color: var(--text-color-secondary);
}

.p-breadcrumb .p-menuitem-link {
    padding: 0.25rem 0.5rem;
}

.p-breadcrumb .p-menuitem-link:focus {
    background: rgba(var(--text-color-rgb), 0.12);
}
