
.p-slidemenu {
    padding: 0.5rem 0;
    background: var(--surface-a);
    color: rgba(var(--text-color-rgb), 0.87);
    border: 1px solid rgba(var(--text-color-rgb), 0.12);
    border-radius: 4px;
    width: 12.5rem;
}

.p-slidemenu .p-menuitem-link {
    padding: var(--content-padding) var(--content-padding);
    color: rgba(var(--text-color-rgb), 0.87);
    border-radius: 0;
    transition: none;
    user-select: none;
}

.p-slidemenu .p-menuitem-link .p-menuitem-text {
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-slidemenu .p-menuitem-link .p-menuitem-icon {
    color: var(--text-color-secondary);
    margin-right: 0.5rem;
}

.p-slidemenu .p-menuitem-link .p-submenu-icon {
    color: var(--text-color-secondary);
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover {
    background: rgba(var(--text-color-rgb), 0.04);
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
    color: rgba(var(--text-color-rgb), 0.6);
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: rgba(var(--text-color-rgb), 0.6);
}

.p-slidemenu .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-slidemenu.p-slidemenu-overlay {
    background: #2b2b2b;
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-slidemenu .p-slidemenu-list {
    padding: 0.5rem 0;
    background: #2b2b2b;
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-slidemenu .p-slidemenu.p-slidemenu-active > .p-slidemenu-link {
    background: rgba(var(--text-color-rgb), 0.04);
}

.p-slidemenu .p-slidemenu.p-slidemenu-active > .p-slidemenu-link .p-slidemenu-text {
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-slidemenu .p-slidemenu.p-slidemenu-active > .p-slidemenu-link .p-slidemenu-icon, .p-slidemenu .p-slidemenu.p-slidemenu-active > .p-slidemenu-link .p-slidemenu-icon {
    color: rgba(var(--text-color-rgb), 0.6);
}

.p-slidemenu .p-slidemenu-separator {
    border-top: 1px solid rgba(var(--text-color-rgb), 0.12);
    margin: 0.5rem 0;
}

.p-slidemenu .p-slidemenu-icon {
    font-size: 0.875rem;
}

.p-slidemenu .p-slidemenu-backward {
    padding: var(--content-padding) var(--content-padding);
    color: rgba(var(--text-color-rgb), 0.87);
}

.p-slidemenu .p-menuitem-link:focus {
    background: rgba(var(--text-color-rgb), 0.12);
}
