<tr
    [pReorderableRow]="rowIndex"
    [pReorderableRowDisabled]="!dragEnabled"
    [ngClass]="{ selected: task.selected }"
    (click)="onClick($event)"
>
    <!-- Completion Cell -->
    <ng-container
        *ngTemplateOutlet="task.isNumericCompletion ? numericCompletionCell : completionCell"
    ></ng-container>

    <!-- Data Cells -->
    <ng-container *ngFor="let column of group.columns">
        <td class="data-cell">
            <ng-container
                *ngTemplateOutlet="
                    column.editable ? editCell :
                    column.key === 'contentLink' ? showAllLinkCell :
                    superCell;
                    context: { $implicit: column }"
            ></ng-container>
        </td>
    </ng-container>

    <!-- Row Action Cell -->
    <xiv-actions-cell
        [task]="task"
        [rowIndex]="rowIndex"
    ></xiv-actions-cell>
</tr>

<!---------------------------------------------------------------------------------->
<!--------------------------------- Cell Templates --------------------------------->
<!---------------------------------------------------------------------------------->
<ng-template #completionCell>
    <xiv-complete-cell
        [task]="task"
        [flag]="task.completionFlag"
        (onChange)="completionChange.emit()"
    ></xiv-complete-cell>
</ng-template>

<ng-template #numericCompletionCell>
    <xiv-numeric-complete-cell
        [task]="task"
        [value]="task.completionFlag"
        (onChange)="completionChange.emit()"
    ></xiv-numeric-complete-cell>
</ng-template>

<ng-template #editCell let-column>
    <xiv-edit-cell
        [task]="task"
        [key]="column.key"
    ></xiv-edit-cell>
</ng-template>

<ng-template #showAllLinkCell>
    <xiv-content-link
        [content]="task._parent"
        [trimGroup]="group"
    ></xiv-content-link>
</ng-template>

<ng-template #superCell let-column>
    <xiv-data-cell
        [column]="column"
        [task]="task"
    ></xiv-data-cell>
</ng-template>
