<tr
    [pReorderableRow]="rowIndex"
    [pReorderableRowDisabled]="!dragEnabled"
    [ngClass]="{
        selected: task.selected
    }"
    (click)="onClick($event)"
>
    <ng-container *ngIf="!task.isNumericCompletion; else numericCell">
        <xiv-complete-cell
            [task]="task"
            [flag]="task.completionFlag"
            (onChange)="completionChange.emit()"
        ></xiv-complete-cell>
    </ng-container>
    <ng-template #numericCell>
        <xiv-numeric-complete-cell
            [task]="task"
            [value]="task.completionFlag"
        ></xiv-numeric-complete-cell>
    </ng-template>

    <td
        class="data-cell"
        *ngFor="let column of group.columns"
        [ngClass]="{ centered: column.centered }"
    >
        <ng-container *ngIf="column.key === 'fullStorageKey'; else editCell">
            {{task[column.key].substr(8)}}
        </ng-container>

        <ng-template #editCell>
            <ng-container *ngIf="column.editable; else linkCell">
                <xiv-edit-cell [task]="task" [key]="column.key"></xiv-edit-cell>
            </ng-container>
        </ng-template>

        <ng-template #linkCell>
            <ng-container *ngIf="column.key === 'contentLink'; else linksCell">
                <xiv-link-cell [task]="task" [trimGroup]="group"></xiv-link-cell>
            </ng-container>
        </ng-template>

        <ng-template #linksCell>
            <ng-container *ngIf="column.link; else staticCell">
                <xiv-links-cell [linkPaths]="task[column.key]"></xiv-links-cell>
            </ng-container>
        </ng-template>

        <ng-template #staticCell>
            <xiv-data-cell [task]="task" [key]="column.key"></xiv-data-cell>
        </ng-template>
    </td>

    <xiv-actions-cell
        [task]="task"
        [rowIndex]="rowIndex"
    ></xiv-actions-cell>
</tr>
