:host {
    display: contents;

    .data-cell {
        vertical-align: middle;
    }

    tr[draggable="true"] {
        &.dropTarget {
            filter: drop-shadow(0 0 5px #bec2cb);
        }

        &:active {
            cursor: pointer;
        }

        //TODO cursor: -webkit-grab;
        cursor: grab;
    }
}
