// Shared container class for all overlays
.overlay-container {
    .add-overlay {
        .content {
            min-width: 300px;

            .task-property-input {
                padding: 5px;

                input {
                    width: 100%;
                }
            }
        }
    }

    .merge-overlay {
        // Overlay just above modal during manual merge
        &.manual-merge {
            z-index: 10000;
        }

        .content {
            // So overlay can grow with long group paths on merge
            min-width: 300px;

            .merge-details {
                padding: 5px;

                // Wrapping for long notes
                white-space: initial;
                max-height: 150px;
                overflow: auto;
            }

            .p-button-group {
                display: inline-block;
                width: 100%;

                ::ng-deep .p-button {
                    border-radius: 0;
                    width: 50%;
                }
            }

            ::ng-deep .p-divider {
                margin: 5px 0;
                user-select: none;
            }
        }
    }
}
