<span
    class="overlay-container"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <p-button
        styleClass="p-button-outlined"
        icon="material-icons mi-add"
    ></p-button>

    <div
        *ngIf="autoMerge"
        class="xiv-modal"
        (click)="modalNoNo($event)"
    ></div>

    <div *ngIf="isVisible && !isMergeVisible" class="overlay-panel add-overlay">
        <span class="content">
            <div class="task-property-input">
                <input
                    pInputText
                    placeholder="Enter Custom Task Name Here"
                    [(ngModel)]="newTaskName"
                />
            </div>
            <div class="task-property-input">
                <input
                    pInputText
                    placeholder="Enter Custom Task Notes Here"
                    [(ngModel)]="newTaskNotes"
                />
            </div>

            <p-button label="Add Task" (onClick)="addCustomTask()"></p-button>
            <p-button label="Auto-Merge Tasks with One Match" (onClick)="autoMergeSingleMatches()"></p-button>
            <p-button label="Merge Tasks into App" (onClick)="mergeCustomTasks()"></p-button>
            <p-button label="Remove Selected Tasks" (click)="removeSelectedCustomTasks()"></p-button>
        </span>
    </div>

    <div *ngIf="isMergeVisible" class="overlay-panel merge-overlay">
        <span class="content">
            <div class="merge-details">
                {{mergeInfo}}<br/><br/>
                {{mergeTask.name}}<br/>
                {{mergeTask.notes}}
            </div>

            <span class="p-buttonset">
                <p-button label="Skip" (onClick)="goToNextMerge()"></p-button>
                <p-button label="Exit" (onClick)="exitMerge()"></p-button>
            </span>

            <ng-container *ngIf="mergeMatches.length > 0">
                <p-divider align="center">Select a match</p-divider>

                <p-button
                    *ngFor="let match of mergeMatches"
                    [label]="match.task | groupLink"
                    (onClick)="confirmCurrentMerge(match.task)"
                ></p-button>
            </ng-container>
        </span>
    </div>
</span>
