@import 'src/styles/colors';

.status-indicator {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: $state_excluded;
    border-radius: 50%;
    margin-bottom: -3px;

    &.active {
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    &.success {
        background-color: $state_completed;
    }

    &.failure {
        background-color: $state_incomplete;
    }
}

/* Dot Indicator Animation */
@keyframes pulse {
    0% {
        transform: scale(0.75);
        filter: brightness(75%);
    }

    50% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(0.75);
        filter: brightness(75%);
    }
}
